<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.earth.store.model.dao.StoreMapper">
	<sql id="selectProductSql">
		SELECT PRO_NO,
			   PRO_NAME,
			   PRO_PRICE, 
			   PRO_DATE, 
			   PRO_MODIFY_DATE, 
			   PRO_VOL, 
			   PRO_IMG, 
			   PRO_MODIFY_IMG,
			   PRO_INFO, 
			   PRO_STAT,
			   PRO_CAT, 
			   PRO_SOLD, 
			   PRO_MFG, 
			   PRO_RATING
	</sql>

	<resultMap type="Product" id="ProductListResultMap">
		<id property="proNo" column="PRO_NO"/>
		<result property="proName" column="PRO_NAME"/>
		<result property="proPrice" column="PRO_PRICE"/>
		<result property="proDate" column="PRO_DATE"/>
		<result property="proModifyDate" column="PRO_MODIFY_DATE"/>
		<result property="proVol" column="PRO_VOL"/>
		<result property="proImg" column="PRO_IMG"/>
		<result property="proModifyImg" column="PRO_MODIFY_IMG"/>
		<result property="proInfo" column="PRO_INFO"/>
		<result property="proStat" column="PRO_STAT"/>
		<result property="proCat" column="PRO_CAT"/>
		<result property="proSold" column="PRO_SOLD"/>
		<result property="proMfg" column="PRO_MFG"/>
		<result property="proRating" column="PRO_RATING"/>
	</resultMap>
	
	<resultMap type="ProductOption" id="ProductOptionResultMap">
		<id property="proNo" column="O_PRO_NO"/>
		<result property="optNo" column="O_O_NO"/>
		<result property="optName" column="O_O_NAME"/>
	</resultMap>
	
	<resultMap type="Product" id="ProductResultMap">
		<id property="proNo" column="P_PRO_NO"/>
		<result property="proName" column="P_PRO_NAME"/>
		<result property="proPrice" column="P_PRO_PRICE"/>
		<result property="proDate" column="P_PRO_DATE"/>
		<result property="proModifyDate" column="P_PRO_MODIFY_DATE"/>
		<result property="proVol" column="P_PRO_VOL"/>
		<result property="proImg" column="P_PRO_IMG"/>
		<result property="proModifyImg" column="P_PRO_MODIFY_IMG"/>
		<result property="proInfo" column="P_PRO_INFO"/>
		<result property="proStat" column="P_PRO_STAT"/>
		<result property="proCat" column="P_PRO_CAT"/>
		<result property="proSold" column="P_PRO_SOLD"/>
		<result property="proMfg" column="P_PRO_MFG"/>
		<result property="proRating" column="P_PRO_RATING"/>
		<collection property="option" javaType="arraylist" resultMap="ProductOptionResultMap"/>
	</resultMap>
	
	<resultMap type="Cart" id="CartListResultMap">
		<id property="memberNo" column="C_MEMBER_NO"/>
		<result property="proNo" column="C_PRO_NO"/>
		<result property="proModifyImg" column="P_PRO_MODIFY_IMG"/>
		<result property="proName" column="P_PRO_NAME"/>
		<result property="proPrice" column="P_PRO_PRICE"/>
		<result property="proOpt" column="O_O_NAME"/>
		<result property="proOptNo" column="C_PRO_OPT"/>
		<result property="cartQty" column="C_CART_QTY"/>
		<result property="cartStat" column="C_CART_STAT"/>
		<result property="cartDate" column="C_CART_DATE"/>
		<result property="proStat" column="P_PRO_STAT"/>
	</resultMap>
	
	<resultMap type="ProductInquiry" id="ProductInqListResultMap">
		<id property="proNo" column="I_PRO_NO"/>
		<result property="memberNo" column="I_MEMBER_NO"/>
		<result property="memberId" column="M_ID"/>
		<result property="inqNo" column="I_INQ_NO"/>
		<result property="inqDate" column="I_INQ_DATE"/>
		<result property="inqModDate" column="I_INQ_MOD_DATE"/>
		<result property="inqTitle" column="I_INQ_TITLE"/>
		<result property="inqContent" column="I_INQ_CONTENT"/>
		<result property="inqStat" column="I_INQ_STAT"/>
		<result property="inqSecret" column="I_INQ_SECRET"/>
		<result property="inqAns" column="A_INQ_ANS"/>
		<result property="inqAnsDate" column="A_INQ_ANS_DATE"/>
	</resultMap>
	
	<resultMap type="OrderDetail" id="OrderDetailListResultMap">
		<id property="orderNo" column="ORDER_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="detailProNo" column="DETAIL_PRO_NO"/>
		<result property="detailProName" column="DETAIL_PRO_NAME"/>
		<result property="detailOpt" column="DETAIL_OPT"/>
		<result property="detailOptName" column="DETAIL_OPT_NAME"/>
		<result property="detailQty" column="DETAIL_QTY"/>
		<result property="detailPrice" column="DETAIL_PRICE"/>
		<result property="proModifyImg" column="PRO_MODIFY_IMG"/>
	</resultMap>
	
	<resultMap type="OrderSum" id="OrderSumResultMap">
		<id property="orderNo" column="ORDER_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="orderPrice" column="ORDER_PRICE"/>
		<result property="orderStat" column="ORDER_STAT"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="orderMethod" column="ORDER_METHOD"/>
		<result property="orderPm" column="ORDER_PM"/>
		<result property="orderPoint" column="ORDER_POINT"/>
	</resultMap>
	
	<resultMap type="OrderDetail" id="OrderDetailListForReviewResultMap">
		<id property="orderNo" column="D_ORDER_NO"/>
		<result property="memberNo" column="D_MEMBER_NO"/>
		<result property="detailProNo" column="D_DETAIL_PRO_NO"/>
		<result property="detailProName" column="D_DETAIL_PRO_NAME"/>
		<result property="detailOpt" column="D_DETAIL_OPT"/>
		<result property="detailOptName" column="D_DETAIL_OPT_NAME"/>
		<result property="detailQty" column="D_DETAIL_QTY"/>
		<result property="detailPrice" column="D_DETAIL_PRICE"/>
		<result property="orderStat" column="S_ORDER_STAT"/>
		<result property="orderDate" column="S_ORDER_DATE"/>
	</resultMap>
	
	<resultMap type="Review" id="ProductReviewListResultMap">
		<id property="orderNo" column="R_ORDER_NO"/>
		<result property="memberNo" column="R_MEMBER_NO"/>
		<result property="memberId" column="M_ID"/>
		<result property="proNo" column="R_PRO_NO"/>
		<result property="proOpt" column="R_PRO_OPT"/>
		<result property="proOptName" column="R_PRO_OPT_NAME"/>
		<result property="revDate" column="R_REV_DATE"/>
		<result property="revTitle" column="R_REV_TITLE"/>
		<result property="revContent" column="R_REV_CONTENT"/>
		<result property="revRating" column="R_REV_RATING"/>
		<result property="originalFileName" column="R_ORIGINAL_FILENAME"/>
		<result property="renamedFileName" column="R_RENAMED_FILENAME"/>
	</resultMap>
	
	<resultMap type="ProductImgs" id="ProductImgsResultMap">
		<id property="proNo" column="PRO_NO"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renamedFileName" column="RENAMED_FILENAME"/>
	</resultMap>
	
	<resultMap type="Product" id="ProductListWithWishResultMap">
		<id property="proNo" column="P_PRO_NO"/>
		<result property="proName" column="P_PRO_NAME"/>
		<result property="proPrice" column="P_PRO_PRICE"/>
		<result property="proDate" column="P_PRO_DATE"/>
		<result property="proModifyDate" column="P_PRO_MODIFY_DATE"/>
		<result property="proVol" column="P_PRO_VOL"/>
		<result property="proImg" column="P_PRO_IMG"/>
		<result property="proModifyImg" column="P_PRO_MODIFY_IMG"/>
		<result property="proInfo" column="P_PRO_INFO"/>
		<result property="proStat" column="P_PRO_STAT"/>
		<result property="proCat" column="P_PRO_CAT"/>
		<result property="proSold" column="P_PRO_SOLD"/>
		<result property="proMfg" column="P_PRO_MFG"/>
		<result property="proRating" column="P_PRO_RATING"/>
		<result property="isNew" column="ISNEW"/>
		<result property="memberNo" column="W_MEMBER_NO"/>
		<result property="wishStat" column="W_WISH_STAT"/>
	</resultMap>
	
	<resultMap type="ProductBidding" id="ProductBiddingListResultMap">
		<id property="bidNo" column="BID_NO"/>
		<result property="bidName" column="BID_NAME"/>
		<result property="bidCond" column="BID_COND"/>
		<result property="bidCurr" column="BID_CURR"/>
		<result property="bidStatNo" column="BID_S_NO"/>
		<result property="bidUrl" column="BID_URL"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renamedFileName" column="RENAMED_FILENAME"/>
	</resultMap>
	
	<resultMap type="BiddingBoard" id="BiddingBoardListResultMap">
		<id property="boardNo" column="B_BOARD_NO"/>
		<result property="memberNo" column="B_MEMBER_NO"/>
		<result property="bidNo" column="B_BID_NO"/>
		<result property="boardContent" column="B_BOARD_CONTENT"/>
		<result property="boardDate" column="B_BOARD_DATE"/>
		<result property="boardStat" column="B_BOARD_STAT"/>
		<result property="memberId" column="M_ID"/>
	</resultMap>

	<select id="getProductCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT
		<where>
			<if test="category == '식품'">
				AND PRO_CAT LIKE '1%'
			</if>
			<if test="category == '생활'">
				AND PRO_CAT LIKE '2%'
			</if>
			<if test="category == '뷰티'">
				AND PRO_CAT LIKE '3%'
			</if>
			<if test="category == '반려동물'">
				AND PRO_CAT LIKE '4%'
			</if>
			AND PRO_STAT = 3
		</where>
	</select>
	
	<select id="getProductCountByDetail" parameterType="list" resultType="_int">
		SELECT COUNT(*) 
		FROM PRODUCT P
		JOIN PRODUCT_CATEGORY C ON(P.PRO_CAT = C.C_NO)
		<where>
			<if test="detail != null and detail.size!=0">
				AND C.C_NAME IN
				<foreach collection="detail" item="filter" open="(" separator="," close=")">
					#{filter}
				</foreach>
			</if>
			AND P.PRO_STAT = 3
		</where>
	</select>
	
	<select id="getProductList" parameterType="string" resultMap="ProductListResultMap">
		<include refid="selectProductSql"/>		
			, ROUND((SELECT TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) FROM DUAL) - PRO_DATE) AS isNew
		FROM PRODUCT
		WHERE PRO_STAT = 3
		<if test="arrange == '신상품순'">
			ORDER BY PRO_DATE DESC
		</if>
		<if test="arrange == '판매순'">
			ORDER BY PRO_SOLD DESC
		</if>
		<if test="arrange == '별점순'">
			ORDER BY PRO_RATING DESC
		</if>
		<if test="arrange == '낮은가격순'">
			ORDER BY PRO_PRICE
		</if>
		<if test="arrange == '높은가격순'">
			ORDER BY PRO_PRICE DESC
		</if>		
	</select>
	
	<select id="getProductListByCategory" parameterType="map" resultMap="ProductListResultMap">
		<include refid="selectProductSql"/>
			, ROUND((SELECT TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) FROM DUAL) - PRO_DATE) AS isNew
		FROM PRODUCT
		<where>
			<if test="category == '식품'">
				AND PRO_CAT LIKE '1%'
			</if>
			<if test="category == '생활'">
				AND PRO_CAT LIKE '2%'
			</if>
			<if test="category == '뷰티'">
				AND PRO_CAT LIKE '3%'
			</if>
			<if test="category == '반려동물'">
				AND PRO_CAT LIKE '4%'
			</if>
			<if test="category == '전체'">
			</if>
			AND PRO_STAT = 3
		</where>		
		<if test="arrange == null">
			ORDER BY PRO_DATE DESC		
		</if>
		<if test="arrange == '신상품순'">
			ORDER BY PRO_DATE DESC
		</if>
		<if test="arrange == '판매순'">
			ORDER BY PRO_SOLD DESC
		</if>
		<if test="arrange == '별점순'">
			ORDER BY PRO_RATING DESC
		</if>
		<if test="arrange == '낮은가격순'">
			ORDER BY PRO_PRICE
		</if>
		<if test="arrange == '높은가격순'">
			ORDER BY PRO_PRICE DESC
		</if>	
	</select>
	
	<select id="getProductListByDetail" parameterType="map" resultMap="ProductListResultMap">
		<include refid="selectProductSql"/>
			, ROUND((SELECT TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD')) FROM DUAL) - PRO_DATE) AS isNew
		FROM PRODUCT P
		JOIN PRODUCT_CATEGORY C ON(P.PRO_CAT = C.C_NO)
		<where>
			<if test="detail != null and detail.size!=0">
				AND C.C_NAME IN
				<foreach collection="detail" item="filter" open="(" separator="," close=")">
					#{filter}
				</foreach>
			</if>
			AND P.PRO_STAT = 3
		</where>		
		<if test="arrange == null">
			ORDER BY PRO_DATE DESC		
		</if>
		<if test="arrange == '신상품순'">
			ORDER BY PRO_DATE DESC
		</if>
		<if test="arrange == '판매순'">
			ORDER BY PRO_SOLD DESC
		</if>
		<if test="arrange == '별점순'">
			ORDER BY PRO_RATING DESC
		</if>
		<if test="arrange == '낮은가격순'">
			ORDER BY PRO_PRICE
		</if>
		<if test="arrange == '높은가격순'">
			ORDER BY PRO_PRICE DESC
		</if>			
	</select>

	<select id="findProductOption" parameterType="_int" resultMap="ProductOptionResultMap">
		SELECT PRO_NO AS O_PRO_NO,
			   O_NO AS O_O_NO,
			   O_NAME AS O_O_NAME
		FROM PRODUCT_OPT
		WHERE PRO_NO = #{no}
	</select>

	<select id="findProductByNo" parameterType="_int" resultMap="ProductResultMap">
		SELECT P.PRO_NO AS P_PRO_NO,
		       P.PRO_NAME AS P_PRO_NAME,
		       P.PRO_PRICE AS P_PRO_PRICE, 
		       P.PRO_DATE AS P_PRO_DATE, 
		       P.PRO_MODIFY_DATE AS P_PRO_MODIFY_DATE, 
		       P.PRO_VOL AS P_PRO_VOL, 
		       P.PRO_IMG AS P_PRO_IMG, 
		       P.PRO_MODIFY_IMG AS P_PRO_MODIFY_IMG, 
		       P.PRO_INFO AS P_PRO_INFO, 
		       P.PRO_STAT AS P_PRO_STAT,
		       P.PRO_CAT AS P_PRO_CAT, 
		       P.PRO_SOLD AS P_PRO_SOLD, 
		       P.PRO_MFG AS P_PRO_MFG, 
		       P.PRO_RATING AS P_PRO_RATING,
		       O.PRO_NO AS O_PRO_NO,
		       O.O_NO AS O_O_NO,
		       O.O_NAME AS O_O_NAME
		FROM PRODUCT P
		LEFT OUTER JOIN PRODUCT_OPT O ON(P.PRO_NO = O.PRO_NO)
		WHERE P.PRO_NO = #{no}
	</select>
	
	<insert id="addToCart" parameterType="Cart">
		INSERT INTO CART (
			MEMBER_NO, 
			PRO_NO, 
			PRO_OPT, 
			CART_QTY, 
			CART_STAT, 
			CART_DATE
		) VALUES (
			${memberNo},
			#{proNo},
			#{proOptNo},
			#{cartQty},
			'Y',
			DEFAULT
		)
	</insert>
	
	<delete id="deleteCart" parameterType="Cart">
		DELETE FROM CART
		WHERE 
			PRO_NO = #{proNo}
			AND PRO_OPT = #{proOptNo} 
			AND MEMBER_NO = #{memberNo}
	</delete>
	
	<select id="getCartList" parameterType="_int" resultMap="CartListResultMap">
		SELECT DISTINCT C.MEMBER_NO AS C_MEMBER_NO,
		       C.PRO_NO AS C_PRO_NO,
		       P.PRO_NAME AS P_PRO_NAME,
		       P.PRO_MODIFY_IMG AS P_PRO_MODIFY_IMG,
		       P.PRO_PRICE AS P_PRO_PRICE,
		       C.PRO_OPT AS C_PRO_OPT,
		       O.O_NAME AS O_O_NAME,
		       C.CART_QTY AS C_CART_QTY,
		       C.CART_STAT AS C_CART_STAT,
		       P.PRO_STAT AS P_PRO_STAT,
		       C.CART_DATE AS C_CART_DATE
		FROM CART C
		JOIN PRODUCT P ON(C.PRO_NO = P.PRO_NO)
		JOIN PRODUCT_OPT O ON(C.PRO_NO = O.PRO_NO) AND (C.PRO_OPT = O.O_NO)
		WHERE 
			C.MEMBER_NO = #{no}
		    AND C.CART_STAT = 'Y'
		    AND P.PRO_STAT = 3
	</select>
	
	<select id="getProductNameByNo" parameterType="_int" resultType="string">
		SELECT PRO_NAME
		FROM PRODUCT 
		WHERE PRO_NO = #{no}
	</select>
	
	<insert id="addToWish" parameterType="Wish">
		INSERT INTO WISH (
		    PRO_NO,
		    WISH_STAT,
		    MEMBER_NO,
		    WISH_DATE
		)
		VALUES (
		    #{proNo},
		    'Y',
		    #{memberNo},
		    DEFAULT
		)
	</insert>
	
	<select id="getWish" parameterType="Wish" resultType="_int">
		SELECT COUNT(*)
		FROM WISH
		WHERE MEMBER_NO = #{memberNo}
			  AND PRO_NO = #{proNo}
	</select>
	
	<select id="getWishStat" parameterType="Wish" resultType="string">
		SELECT WISH_STAT
		FROM WISH
		WHERE MEMBER_NO = #{memberNo}
			  AND PRO_NO = #{proNo}
	</select>
	
	<update id="updateWish" parameterType="Wish">
		UPDATE WISH
		SET WISH_STAT = #{wishStat}
		WHERE MEMBER_NO = #{memberNo}
			  AND PRO_NO = #{proNo}		
	</update>
	
	<select id="getWishList" parameterType="_int" resultMap="ProductListResultMap">
		SELECT W.PRO_NO,
		       P.PRO_NAME,
		       P.PRO_MODIFY_IMG,
		       P.PRO_PRICE,
		       P.PRO_RATING
		FROM WISH W
		JOIN PRODUCT P ON(W.PRO_NO = P.PRO_NO)
		WHERE WISH_STAT = 'Y' AND MEMBER_NO = #{no}
	</select>
	
	<select id="getWishCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM WISH
		WHERE MEMBER_NO = #{no}
			  AND WISH_STAT = 'Y'
	</select>
	
	<insert id="writeQna" parameterType="ProductInquiry">
		INSERT INTO PRODUCT_INQUIRY(
			PRO_NO, 
			MEMBER_NO, 
			INQ_NO, 
			INQ_DATE, 
			INQ_MOD_DATE, 
			INQ_TITLE, 
			INQ_CONTENT, 
			INQ_STAT,
			INQ_SECRET
		)
		VALUES (
			#{proNo}, 
			#{memberNo}, 
			SEQ_INQNO.NEXTVAL, 
			DEFAULT, 
			DEFAULT, 
			#{inqTitle}, 
			#{inqContent}, 
			'N',
			#{inqSecret}
		)
	</insert>
	
	<select id="getProductInqCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT_INQUIRY
		WHERE PRO_NO = #{no}
	</select>
	
	<select id="getProductInqList" parameterType="_int" resultMap="ProductInqListResultMap">
		SELECT I.PRO_NO AS I_PRO_NO, 
			   I.MEMBER_NO AS I_MEMBER_NO, 
			   M.ID AS M_ID, 
			   I.INQ_NO AS I_INQ_NO, 
			   I.INQ_DATE AS I_INQ_DATE, 
			   I.INQ_MOD_DATE AS I_INQ_MOD_DATE, 
			   I.INQ_TITLE AS I_INQ_TITLE, 
			   I.INQ_CONTENT AS I_INQ_CONTENT, 
			   I.INQ_STAT AS I_INQ_STAT,
			   I.INQ_SECRET AS I_INQ_SECRET,
		       A.INQ_ANS AS A_INQ_ANS,
		       A.INQ_ANS_DATE AS A_INQ_ANS_DATE
		FROM PRODUCT_INQUIRY I
		JOIN MEMBER M ON(I.MEMBER_NO = M.NO)
		LEFT OUTER JOIN PRO_INQ_ANSWER A ON(I.INQ_NO = A.INQ_NO)
		WHERE I.PRO_NO = #{no}
		ORDER BY I.INQ_DATE DESC
	</select>
	
	<insert id="createOrderSum" parameterType="OrderSum">
		<selectKey keyProperty="orderNo" resultType="_int" order="BEFORE">
			SELECT SEQ_ORDERNO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ORDER_SUM (
		    ORDER_NO,
		    MEMBER_NO
		)
		VALUES (
		    #{orderNo},
		    #{memberNo}
		)		
	</insert>
	
	<insert id="addOrderDetail" parameterType="OrderDetail">
		INSERT INTO ORDER_DETAIL(
		    ORDER_NO,
		    MEMBER_NO,
		    DETAIL_PRO_NO,
		    DETAIL_PRO_NAME,
		    DETAIL_OPT,
		    DETAIL_OPT_NAME,
		    DETAIL_QTY,
		    DETAIL_PRICE,
		    PRO_MODIFY_IMG
		)
		VALUES (
		    #{orderNo},
		    #{memberNo},
		    #{detailProNo},
		    #{detailProName},
		    #{detailOpt},
		    #{detailOptName},
		    #{detailQty},
		    #{detailPrice},
		    #{proModifyImg}
		)
	</insert>
	
	<update id="updateOrderSum" parameterType="OrderSum">
		UPDATE ORDER_SUM
		SET ORDER_PRICE = #{orderPrice}
		WHERE ORDER_NO = #{orderNo}
	</update>

	<select id="getOrderDetailList" parameterType="_int" resultMap="OrderDetailListResultMap">
		SELECT ORDER_NO, 
			   MEMBER_NO, 
			   DETAIL_PRO_NO, 
			   DETAIL_PRO_NAME,
			   DETAIL_OPT, 
			   DETAIL_QTY, 
			   DETAIL_PRICE, 
			   DETAIL_OPT_NAME,
			   PRO_MODIFY_IMG
		FROM ORDER_DETAIL
		WHERE ORDER_NO = #{orderNo}
	</select>
	
	<select id="findOrderSumByNo" parameterType="_int" resultMap="OrderSumResultMap">
		SELECT ORDER_NO, 
			   MEMBER_NO, 
			   ORDER_PRICE, 
			   ORDER_STAT, 
			   ORDER_DATE, 
			   ORDER_METHOD, 
			   ORDER_PM, 
			   ORDER_POINT
		FROM ORDER_SUM 
		WHERE ORDER_NO = #{no}
	</select>
	
	<update id="completeOrderSum" parameterType="OrderSum">
		UPDATE ORDER_SUM
		SET ORDER_PRICE = #{orderPrice},
		    ORDER_POINT = #{orderPoint},
		    ORDER_STAT = #{orderStat},
		    ORDER_METHOD = #{orderMethod}
		WHERE ORDER_NO = #{orderNo}
	</update>
	
	<delete id="deleteOrderSum" parameterType="_int">
		DELETE FROM ORDER_SUM
		WHERE 
		    MEMBER_NO = 3
		    AND ORDER_STAT = '주문생성'
	</delete>
	
	<insert id="addDelivery" parameterType="Delivery">
		INSERT INTO DELIVERY (
			ORDER_NO,
			MEMBER_NO,
			DEL_STAT,
			DEL_NAME,
			DEL_POSTCODE,
			DEL_ADD,
			DEL_EXTRA_ADD,
			DEL_DETAIL_ADD,
			DEL_PHONE,
			DEL_MSG
		) 
		VALUES (
			#{orderNo},
			#{memberNo},
			DEFAULT,
			#{delName},
			#{delPostcode},
			#{delAdd},
			#{delExtraAdd},
			#{delDetailAdd},
			#{delPhone},
			#{delMsg}
		)
	</insert>
	
	<select id="getOrderCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM ORDER_SUM
		WHERE MEMBER_NO = #{memberNo} 
			  AND ORDER_STAT != '주문생성'
	</select>
	
	<select id="getOrderList" parameterType="_int" resultMap="OrderSumResultMap">
		SELECT 
			ORDER_NO, 
			ORDER_PRICE, 
			ORDER_STAT, 
			ORDER_DATE, 
			ORDER_METHOD, 
			ORDER_POINT
		FROM ORDER_SUM
		WHERE MEMBER_NO = #{memberNo} 
			  AND ORDER_STAT != '주문생성'
		ORDER BY ORDER_DATE DESC
	</select>
	
	<select id="findOrderDetail" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM ORDER_DETAIL D
		JOIN ORDER_SUM S ON(D.ORDER_NO = S.ORDER_NO)
		WHERE D.MEMBER_NO = #{memberNo} 
			  AND D.DETAIL_PRO_NO = #{proNo} 
			  AND S.ORDER_STAT != '주문생성'
			  <if test="optName != null">
			  	AND D.DETAIL_OPT_NAME = #{optName}
			  </if>
	</select>
	
	<select id="getOrderNoForReview" parameterType="map" resultType="_int">
		SELECT D_ORDER_NO
		FROM (
			SELECT ROWNUM AS RNUM, D_ORDER_NO
			FROM (
			    SELECT D.ORDER_NO AS D_ORDER_NO
			    FROM ORDER_DETAIL D
			    JOIN ORDER_SUM S ON(D.ORDER_NO = S.ORDER_NO)
			    WHERE D.MEMBER_NO = #{memberNo} 
				  	  AND D.DETAIL_PRO_NO = #{proNo} 
				  	  AND D.DETAIL_OPT_NAME = #{optName} 
				  	  AND S.ORDER_STAT != '주문생성'
			    ORDER BY S.ORDER_DATE
			)
		)
		WHERE RNUM = #{i}
	</select>
	
	<select id="getReviewCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE ORDER_NO = #{orderNo} 
			  AND PRO_NO = #{proNo} 
			  AND PRO_OPT_NAME = #{optName}
	</select>
	
	<insert id="writeReview" parameterType="Review">
		INSERT INTO REVIEW (
		    ORDER_NO,
		    MEMBER_NO,
		    PRO_NO,
		    PRO_OPT,
		    PRO_OPT_NAME,
		    REV_DATE,
		    REV_TITLE,
		    REV_CONTENT,
		    REV_RATING,
		    ORIGINAL_FILENAME,
			RENAMED_FILENAME
		) VALUES (
		    #{orderNo},
		    #{memberNo},
		    #{proNo},
		    #{proOpt},
		    #{proOptName},
		    DEFAULT,
		    #{revTitle},
		    #{revContent},
		    #{revRating},
		    #{originalFileName},
			#{renamedFileName}
		)
	</insert>
	
	<select id="getProductRevCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE PRO_NO = #{no}
	</select>
	
	<select id="getProductRevList" parameterType="_int" resultMap="ProductReviewListResultMap">
		SELECT R.ORDER_NO AS R_ORDER_NO,
		       R.MEMBER_NO AS R_MEMBER_NO,
		       M.ID AS M_ID,
		       R.PRO_NO AS R_PRO_NO,
		       R.PRO_OPT AS R_PRO_OPT,
		       R.REV_DATE AS R_REV_DATE,
		       R.REV_TITLE AS R_REV_TITLE,
		       R.REV_CONTENT AS R_REV_CONTENT,
		       R.REV_RATING AS R_REV_RATING,
		       R.PRO_OPT_NAME AS R_PRO_OPT_NAME,
		       R.ORIGINAL_FILENAME AS R_ORIGINAL_FILENAME,     
		       R.RENAMED_FILENAME AS R_RENAMED_FILENAME     
		FROM REVIEW R
		JOIN MEMBER M ON(R.MEMBER_NO = M.NO)
		WHERE PRO_NO = #{no}
		ORDER BY R.REV_DATE DESC
	</select>
	
	<select id="getProductRating" parameterType="_int" resultType="_int">
		SELECT ROUND(AVG(NVL(REV_RATING, 0)), 1)
		FROM REVIEW
		WHERE PRO_NO = #{proNo}
	</select>
	
	<update id="updateProductRating">
		UPDATE PRODUCT
		SET PRO_RATING = #{rating}
		WHERE PRO_NO = #{proNo}
	</update>
	
	<select id="getProductImgs" parameterType="_int" resultMap="ProductImgsResultMap">
		SELECT PRO_NO, 
			   ORIGINAL_FILENAME, 
			   RENAMED_FILENAME
		FROM PRODUCT_IMGS
		WHERE PRO_NO = #{no}
	</select>
	
	<select id="getCategoryNo" parameterType="string" resultType="_int">
		SELECT C_NO
		FROM PRODUCT_CATEGORY
		WHERE C_NAME = #{appCatName}
	</select>
	
	<insert id="writeApplication">
		INSERT INTO APPLICATION (
		    APP_NO,
		    MEMBER_NO,
		    APP_NAME,
		    APP_URL,
		    APP_TITLE,
		    APP_CONTENT,
		    APP_S_NO,
		    APP_C_NO,
		    APP_DATE
		) VALUES (
		 	SEQ_APPNO.NEXTVAL,
		    #{memberNo},
		    #{appName},
		    #{appUrl},
		    #{appTitle},
		    #{appContent},
		    0,
		    #{appCatNo},
		    DEFAULT
		)
	</insert>
	
	<select id="getBiddingCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT_BIDDING
		WHERE BID_S_NO = 1
	</select>
	
	<select id="getBiddingList" resultMap="ProductBiddingListResultMap">
		SELECT BID_NO,
			   BID_NAME,
			   BID_COND,
			   BID_CURR,
			   BID_S_NO,
			   BID_URL,
			   ORIGINAL_FILENAME,
			   RENAMED_FILENAME
		FROM PRODUCT_BIDDING
		WHERE BID_S_NO = 1
	</select>
	
	<select id="getBiddingDetailByNo" parameterType="_int" resultMap="ProductBiddingListResultMap">
		SELECT BID_NO,
			   BID_NAME,
			   BID_COND,
			   BID_CURR,
			   BID_S_NO,
			   BID_URL,
			   ORIGINAL_FILENAME,
			   RENAMED_FILENAME
		FROM PRODUCT_BIDDING
		WHERE BID_NO = #{no}
	</select>
	
	<insert id="addBid" parameterType="Bidding">
		INSERT INTO BIDDING (
			BID_NO,
			BID_MEMBER_NO,
			BID_STAT
		) VALUES (
			#{bidNo},
			#{bidMemberNo},
			'Y'
		)
	</insert>
	
	<select id="getBidCurr" parameterType="_int" resultType="_int">
		SELECT BID_CURR
		FROM PRODUCT_BIDDING
		WHERE BID_NO = #{no}
	</select>
	
	<update id="updateBidCurr" parameterType="map">
		UPDATE PRODUCT_BIDDING
		SET BID_CURR = #{bidCurrPlusOne}
		WHERE BID_NO = #{no}
	</update>
	
	<select id="getPurchaseList" parameterType="_int" resultMap="OrderDetailListResultMap">
		SELECT DETAIL_PRO_NO, 
			   SUM(DETAIL_QTY) AS DETAIL_QTY
		FROM ORDER_DETAIL
		WHERE ORDER_NO = #{orderNo}
		GROUP BY DETAIL_PRO_NO
	</select>
	
	<update id="calcQty" parameterType="map">
		UPDATE PRODUCT
		SET PRO_STOCK = (SELECT PRO_STOCK FROM PRODUCT WHERE PRO_NO = #{proNo}) - #{qty},
		    PRO_SOLD = (SELECT PRO_SOLD FROM PRODUCT WHERE PRO_NO = #{proNo}) + #{qty}
		WHERE PRO_NO = #{proNo}
	</update>
	
	<select id="getBid" parameterType="Bidding" resultType="_int">
		SELECT COUNT(*)
		FROM BIDDING
		WHERE BID_MEMBER_NO = #{bidMemberNo}
			  AND BID_NO = #{bidNo}
	</select>
	
	<update id="updateBid" parameterType="Bidding">
		UPDATE BIDDING
		SET BID_STAT = #{bidStat}
		WHERE BID_MEMBER_NO = #{bidMemberNo}
			  AND BID_NO = #{bidNo}
	</update>
	
	<select id="getBidStat" parameterType="Bidding" resultType="string">
		SELECT BID_STAT
		FROM BIDDING
		WHERE BID_MEMBER_NO = #{bidMemberNo}
			  AND BID_NO = #{bidNo}
	</select>
	
	<insert id="writeBiddingBoard" parameterType="BiddingBoard"	
		useGeneratedKeys="true" keyProperty="boardNo" keyColumn="BOARD_NO">
		INSERT INTO BIDDING_BOARD (
			BOARD_NO,
			MEMBER_NO,
			BID_NO,
			BOARD_CONTENT,
			BOARD_DATE,
			BOARD_STAT
		) VALUES (
			SEQ_BID_BOARDNO.NEXTVAL,
			#{memberNo},
			#{bidNo},
			#{boardContent},
			DEFAULT,
			'Y'
		)
	</insert>
	
	<select id="getBiddingBoardCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM BIDDING_BOARD
		WHERE BID_NO = #{no}
	</select>
	
	<select id="getBiddingBoardList" parameterType="_int" resultMap="BiddingBoardListResultMap">
		SELECT B.BOARD_NO AS B_BOARD_NO, 
			   B.MEMBER_NO AS B_MEMBER_NO, 
			   B.BID_NO AS B_BID_NO, 
			   B.BOARD_CONTENT AS B_BOARD_CONTENT, 
			   B.BOARD_DATE AS B_BOARD_DATE, 
			   B.BOARD_STAT AS B_BOARD_STAT, 
			   M.ID AS M_ID
		FROM BIDDING_BOARD B
		JOIN MEMBER M ON(B.MEMBER_NO = M.NO)
		WHERE BID_NO = #{no}
			  AND BOARD_STAT = 'Y'
	</select>
	
	<update id="updateBiddingBoard" parameterType="_int">
		UPDATE BIDDING_BOARD
		SET BOARD_STAT = 'N'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<delete id="deleteReview" parameterType="Review">
		DELETE FROM REVIEW
		WHERE ORDER_NO = #{orderNo}
			  AND PRO_NO = #{proNo}
			  AND PRO_OPT = #{proOpt}
			  AND MEMBER_NO = #{memberNo}
	</delete>
	
	<delete id="deleteQna" parameterType="ProductInquiry">
		DELETE FROM PRODUCT_INQUIRY
		WHERE PRO_NO = #{proNo}
			  AND INQ_NO = #{inqNo}
			  AND MEMBER_NO = #{memberNo}
	</delete>
	
	<select id="getPoint" parameterType="_int" resultType="_int">
		SELECT NVL(SUM(NVL(SAVE_POINT, 0)) - SUM(NVL(SPEND_POINT, 0)), 0) 
		FROM POINT
		WHERE MEM_NO = #{no}
	</select>
	
	<insert id="calcPoint" parameterType="map">
		INSERT INTO POINT (
	        POINT_NO,
	        MEM_NO,
	        SPEND_DATE,
	        SPEND_CONTENT,
	        SPEND_POINT,
	        POINT_CATEGORY,
	        SAVE_STATUS
	    ) VALUES (
	        SEQ_POINT.NEXTVAL,
	        #{memberNo},
	        DEFAULT,
	        '스토어 - 포인트 사용',
	        #{pointUsage},
	        2,
	        'Y'
	    )
	</insert>
</mapper>