@charset "UTF-8";

.admin-category {}
.admin-category ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.admin-category ul li {
    width: calc(100% / 6 - 8px);
}
.admin-category ul li a {
    display: block;
    width: 100%;
    color: #999;
    font-size: 16px;
    text-align: center;
    border: 1px solid #999;
    padding: 30px;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
}
.admin-category ul li.current a,
.admin-category ul li a:hover {
    color: #fff;
    border: 1px solid #669948;
    background: #669948;
}
.admin-category ul li i {
    display: block;
    margin-bottom: 5px;
}
#list {
    width: 100%;
    text-align: center;
} 
.category table thead {
    height: 30px;
}
#btn {
    width: 60px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(24, 180, 228);
    padding: 3px;
}
#btn2 {
    width: 60px;
    font-size: 14px;
    font-weight: 500;
    background-color: red;
    padding: 3px;
}
#btn3 {
    width: 20px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(200, 200, 200);
}
#btn4 {
    background-color: grey; 
}
.menu {
    width: 14px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(200, 200, 200);
}
.clicked {
    color: red;
}
.clicked2 {
    color: yellow;
}
.category table, td{
    height: 30px;
    border-top: 1px solid grey;
    border-collapse: collapse;
}
#page-Bar button {
    border-radius: 0.5em;
    background-color: gray;
    margin: 3px;
    padding: 7px;
    border-color: black;
}
.category ul li button {
    width: 80px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(24, 180, 228);
    padding: 5px;
    margin-left: auto;
}
.menu-active {
    background-color:red;
}
nav .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

















