@charset "UTF-8";

.admin-category {
	margin-top: 80px;
}
.admin-category ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.admin-category ul li {
	overflow: hidden;
    width: calc(100% / 3 - 8px);
    border-radius: 10px;
    background: #fff;
}
.admin-category ul li:nth-child(n+4) {
	margin-top: 10px;
}
.admin-category ul li a {
	overflow: hidden;
    display: block;
    width: 100%;
    color: #999;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 50px 0;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
}
.admin-category ul li.current a,
.admin-category ul li a:hover {
    color: #fff;
    border: 1px solid #67b16b;
    background: #67b16b;
}
.admin-category ul li i {
    display: block;
    margin-bottom: 5px;
}
#list {
    width: 100%;
    text-align: center;
} 
.category table thead {
    height: 30px;
}
.menu {
    width: 14px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(200, 200, 200);
}

#page-Bar button {
    border-radius: 0.5em;
    background-color: gray;
    margin: 3px;
    padding: 7px;
    border-color: black;
}
.category ul li button {
    width: 80px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(24, 180, 228);
    padding: 5px;
    margin-left: auto;
}
.menu-active {
    background-color:red;
}
nav .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}
#view-content {
    min-height: 200px; 
}
#view-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #999;
    background: #fff;
}
#view-table thead {
    border: 1px solid #999;
}
#view-table tbody tr td {
    color: #666;font-size: 14px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
#view-table tbody tr td.left {
	text-align: left;
}
#view-table tbody tr th {
    color: #666;font-size: 14px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
.echo-write {
	margin-top: 10px;
    width: 100%;
    border-top: 2px solid #467443;
    border-bottom: 1px solid #999;
    padding: 0 10px;
    border-collapse: separate;
    border-spacing: 0 10px;
}
#member-img {
  height: 250px;
  width: 250px;
  border: 1px solid var(--color-white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 17px;
}
.admin {
    margin-top: 20px;
}
.admin section {
    padding: 20px 0 30px;
}
.admin section + section {
    padding-top: 80px;
    border-top: 1px solid #ddd;
}
.admin section > strong {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}












