@charset "UTF-8";

.challenge {
}
/* 오늘의 챌린지 */
.challenge .how-to {
	overflow: hidden;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px 20px 30px 20px;
    margin-bottom: 50px;
}
.challenge .how-to > strong {
    display: block;
    color: #67b16b;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
}
.challenge .how-to > span {
    color: #666;
}
.challenge .how-to .example {
    width: 95%;
    text-align: center;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 30px;
    margin: 20px auto 0;
    padding: 40px 0;
}
.challenge .how-to .example > strong {
    color: #5CB65A;
    font-size: 16px;
    font-weight: 400;
}
.challenge .how-to .example ul {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.challenge .how-to .example ul li {
    width: 50%;
    text-align: center;
    padding: 0 20px;
}
.challenge .how-to .example ul li img {
    display: block;
    border: 5px solid #516ab9;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.challenge .how-to .example ul li:last-child img {
    border: 5px solid #c91717;
}
.challenge .how-to .example ul li strong {
    display: block;
    color: #516ab9;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.challenge .how-to .example ul li:last-child strong {
    color: #c91717;
}
.challenge .how-to .example ul li strong i {
    vertical-align: top;
}
.challenge .how-to .example ul li:last-child strong i {
    vertical-align: bottom;
}
.challenge .how-to .example ul li p {
    color: #666;
    font-size: 15px;
}
.challenge .thumb-list ul li:hover {
    border: 1px solid #ccc;
}
.challenge .how-to .example ul li:last-child {
    border-left: 1px dashed #ccc;
}
.challenge .thumb-list ul li .num {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-style: normal;
    background: #67b16b;
    border-radius: 0 0 10px 0;
    padding: 4px 10px;
    box-sizing: border-box;
    z-index: 1;
}
.challenge.today .btn-wrap {
    text-align: center;
}
/* 오늘의 챌린지 참여하기 */
.thumb-list.vertical ul {
    flex-direction: column;
}
.thumb-list.vertical ul li {
    width: 100%;
    border: 0;
    margin: 0;
}
.thumb-list.challenge ul li {
    padding: 0 0 20px 60px;
}
.thumb-list.vertical ul li:last-child {
    padding-bottom: 0;
}
.thumb-list.vertical ul li:hover {
    border: 0;
}
.thumb-list.challenge ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 2px;
    height: 100%;
    background: #ddd;
}
.thumb-list.vertical ul li .num {
    top: 50%;
    left: 0;
    border-radius: 50%;
    background: #ccc;
    transform: translateY(-50%);
    padding: 4px 11px;
}
.thumb-list.vertical ul li .item {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 20px 0 0;
}
.thumb-list.vertical ul li:last-child .item {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.thumb-list.vertical ul li .img-thumb {
    width: 40%;
    border: 1px solid #ccc;
}
.thumb-list.vertical ul li .item-cont {
    position: relative;
    width: 60%;
    padding-left: 30px;
}
.thumb-list.vertical ul li strong {
    min-height: auto;
    font-size: 18px;
    padding: 0;
    margin: 0 0 10px;
}
.thumb-list.vertical ul li p {
    color: #666;
    font-size: 15px;
    padding: 0;
    overflow: none;
    text-overflow: ellipsis;
    display: block;
}
.thumb-list.vertical ul li .item-cont > span {
    display: block;
    position: absolute;
    left: 30px;
    bottom: 3px;
    color: #999;
}
.thumb-list.vertical ul li .item-cont > span > .icon-point {
    display: block;
    margin-top: 5px;
}
.thumb-list.vertical ul li .item-cont .btn {
    position: absolute;
    right: 0;
    bottom: 0;
}
.thumb-list.challenge ul li.complete:before,
.thumb-list.challenge ul li.complete .num {
    background: #76b779;
}
.thumb-list.col-2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* 이달의 챌린지 */
.thumb-list.col-2 ul {
    border-top: 2px solid #76b779;
    margin-top: 10px;
}
.thumb-list.col-2 ul li {
    width: 50%;
    border-top: 0;
    border-bottom: 1px solid #ccc;
    padding: 20px 20px 20px 0;
}
.thumb-list.col-2 ul li:hover {
    border-bottom: 1px solid #ccc;
}
.thumb-list.col-2 ul li:nth-child(2n) {
    border-left: 1px solid #ccc;
    padding: 20px 0 20px 20px;
}
.thumb-list.col-2 ul li + li {
    /* padding-top: 0; */
}
.thumb-list.col-2 ul li a {
    display: flex;
    justify-content: space-between;
}
.thumb-list.col-2 ul li:last-child .item {
    border: 0;
    padding-bottom: 0;
}
.thumb-list.col-2 ul li .img-thumb {
    width: 50%;
    height: 150px;
    border: 1px solid #ccc;
}
.thumb-list.col-2 ul li .item-cont {
    padding-left: 20px;
}
.thumb-list.col-2 ul li strong {
    font-size: 16px;
    margin: 0 0 10px;
}
.thumb-list.col-2 ul li p {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    display: -webkit-box;
    letter-spacing: -1px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.thumb-list.col-2 ul li .item-cont > span {
    color: #5CB65A;
    left: 20px;
}
.challenge-sort {
    text-align: right;
}

/* 이달의 챌린지 상세 */
.month-challenge-detail {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #76b779;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.month-challenge-detail .img-thumb {
    overflow: hidden;
    position: relative;
    width: 40%;
    height: 220px;
    border-right: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.month-challenge-detail .img-thumb img {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    transform: translate(-50%, -50%);
}
.month-challenge-detail .item-cont {
    position: relative;
    width: calc(60% - 20px);
}
.month-challenge-detail .item-cont .icon-point {
    display: block;
    margin-top: 48px;
}
.month-challenge-detail .item-cont .icon-point + .btn {
    position: absolute;
    right: 0;
    bottom: 25px;
}
.month-challenge-detail .item-cont span:first-of-type {
    display: block;
    color: #76b779;
    font-size: 16px;
    margin: 20px 0 5px;
}
.month-challenge-detail .item-cont strong {
    display: block;
    color: #333;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}
.month-challenge-detail .item-cont p {
    color: #666;
    min-height: 40px;
    margin-bottom: 20px;
}




/* 인증 */
.prov-set {
}
.prov-set form {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;	
}
.prov-set .thumb-img {
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 355px;
    border: 1px solid #ccc;
    background: #eee;
}
.prov-set .thumb-img strong {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
    font-size: 12px;
    font-weight: 400;
	background: #67b16b;
	border-radius: 0 0 0 10px;
    padding: 5px 10px 8px;
    z-index: 2;	
}
.prov-set .thumb-img img {
	position: absolute;
	top: 50%;
	left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.prov-set .upload-wrap {
	position: relative;
    width: 55%;
}
.prov-set .upload-wrap strong {
    display: block;
    color: #5CB65A;
    font-size: 18px;
    font-weight: 400;
    margin: -6px 0 20px;
}
.prov-set .upload-img {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 270px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.prov-set .upload-img:before {
    content: '사진을 업로드해주세요.';
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ccc;
    font-size: 14px;
    font-weight: 200;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.prov-set .upload-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.prov-set .btn-delete-img { /* button delete */
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 3px 10px 0px;
    z-index: 1;
}
.prov-set .btn-delete-img i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    transform: translate(-50%, -50%);
}
.prov-set .btn-delete-img:hover i {
    color: #5CB65A;
}
.prov-set .prov-cont {
    width: 100%;
}
.prov-set .prov-cont strong {
    display: block;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.prov-set .prov-cont strong span {
    color: #76b779;
    font-weight: 500;
}
.prov-set .prov-cont p {
    color: #666;
}
.prov-set .upload-file {
    width: 100%;
    margin-top: 20px;
}
.prov-set .upload-file input[type="text"].input-file {
    width: calc(100% - 80px);
}
.prov-set form input[type="submit"].btn {
    display: block;
    margin: 50px auto 0;
}


/* 참여 중인 사용자 */
.using-user {
    position: relative;
}
.using-user span.count {
    color: #666;
    position: absolute;
    top: 3px;
    right: 0;
}
.using-user span.count em {
    display: inline-block;
    color: #76b779;
    font-weight: 500;
    font-style: normal;
}
.using-user .user-list {
    overflow-x: auto;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
}
.using-user .user-list::-webkit-scrollbar { height: 8px; }
.using-user .user-list::-webkit-scrollbar-thumb { background: #ccc; }
.using-user .user-list::-webkit-scrollbar-track { background: #eee; }
.using-user .user-list ul {
    display: flex;
}
.using-user .user-list ul li {
	flex: 0 0 auto;
    padding: 0 20px;
    text-align: center;
    min-width: 100px;
    box-sizing: border-box;
}
.using-user .user-list ul li:first-of-type {
    padding-left: 0;
}
.using-user .user-list ul li + li {
    border-left: 1px dashed #ccc;
}
.using-user .user-list ul li .img-thumb {
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #f9f9f9;
    margin: 0 auto 5px;
}
.using-user .user-list ul li .img-thumb:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	transform: translate(-50%, -50%);
	background: url(../images/common/icon_user.png) 0 0 no-repeat;
	background-size: 30px;
	opacity: .3;
}
.using-user .user-list ul li .img-thumb img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.using-user .user-list ul li span {
    color: #888;
}
.using-user .user-list p {
	color: #666;
	text-align: center;
}
.using-user .user-list p strong {
	color: #67b16b;
	line-height: 1.8;
}


/* 댓글 */
.reply {}
.reply form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reply form textarea {
    width: calc(100% - 115px);
    height: 80px;
}
.reply form .btn {
    width: 105px;
    height: 80px;
}
.reply form .count-reply {
    display: block;
    color: #999;
    width: 100%;
    text-align: right;
    margin-top: 5px;
}
.reply form .count-reply em {
    color: #76b779;
    font-weight: 500;
    font-style: normal;
}
.reply-list {
    margin-top: 10px;
}
.reply-list > ul > li {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.reply-list > ul > li .user-info {
    position: relative;
    padding-left: 50px;
}
.reply-list > ul > li .user-info .img-thumb {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transform: translateY(-50%);
}
.reply-list > ul > li .user-info span:first-of-type {
    display: block;
}
.reply-list .user-info .date {
    color: #999;
    font-size: 13px;
}
.reply-list > ul > li .user-info .img-thumb img {
    width: 100%;
}
.reply-list > ul > li .reply-cont {
    color: #5a5a5a;
    width: 90%;
    margin-top: 10px;
    padding-left: 50px;
    box-sizing: border-box;
}
.reply-list > ul > li .btn-wrap {
    position: absolute;
    top: 25px;
    right: 10px;
    margin-top: 5px;
}
.reply-list > ul > li .btn-wrap button {
    color: #bbb;
}
.reply-list > ul > li .btn-wrap button + button {
    margin-left: 8px;
}
.reply-list > ul > li .btn-wrap button:hover {
    color: #5CB65A;
}
/* 대댓글 */
.reply-list > ul > li > ul {
    border-top: 1px solid #eee;
    margin-top: 15px;
}
.reply-list > ul > li > ul > li {
    position: relative;
    padding: 15px 0 15px 50px;
}
.reply-list > ul > li > ul > li + li {
    border-top: 1px solid #eee;
}
.reply-list > ul > li > ul > li:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 15px;
    width: 24px;
    height: 24px;
    background: url(../images/common/icon_reply.png) 0 0 no-repeat;
}
.reply-list > ul > li > ul > li:last-child {
    padding-bottom: 5px;
}
.reply-list > ul > li > ul > li .btn-wrap {
    right: 0;
}



/* 진행 중인 챌린지 */
.challenge .thumb-list.ongoing ul li:hover {
    border: 1px solid #5CB65A;
}
.challenge .thumb-list .my-count {
    display: block;
    color: #999;
    padding: 0 10px;
    text-align: right;
    margin-bottom: 10px;
}
.challenge .thumb-list .my-count em {
    color: #5CB65A;
    font-weight: 500;
    font-style: normal;
}


/* 챌린지 참여 현황 */
.gauge {}
.gauge ul {
    display: flex;
    flex-wrap: wrap;
}
.gauge ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(20% + 1px);
    height: 170px;
    border: 1px solid #ccc;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.gauge ul li:nth-child(1),
.gauge ul li:nth-child(6) {
    width: 20%;
}
.gauge ul li:nth-child(6) {
    margin-left: 0;
}
.gauge ul li:nth-child(n+6) {
    margin-top: -1px;
}
.gauge ul li + li {
    margin-left: -1px;
}
.gauge ul li span {
    display: block;
    width: 47px;
    height: 27px;
    background: url(../images/challenge/my_count01.png) 0 0 no-repeat;
}
.gauge ul li.complete span {
    background-position: 0 -27px;
}
.gauge ul li p {
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: #999;
    font-size: 12px;
    transform: translateX(-50%);
}
.gauge ul li.complete p {
    color: #5CB65A;
    font-weight: 500;
}
.gauge ul li:nth-of-type(2) span {
    width: 49px;
    height: 36px;
    background: url(../images/challenge/my_count02.png) 0 0 no-repeat;
}
.gauge ul li:nth-of-type(2).complete span {
    background-position: 0 -36px;
}
.gauge ul li:nth-of-type(3) span {
    width: 61px;
    height: 58px;
    background: url(../images/challenge/my_count03.png) 0 0 no-repeat;
}
.gauge ul li:nth-of-type(3).complete span {
    background-position: 0 -58px;
}
.gauge ul li:nth-of-type(4) span {
    width: 61px;
    height: 66px;
    background: url(../images/challenge/my_count04.png) 0 0 no-repeat;
}
.gauge ul li:nth-of-type(4).complete span {
    background-position: 0 -66px;
}
.gauge ul li:nth-of-type(5) span {
    width: 56px;
    height: 75px;
    background: url(../images/challenge/my_count05.png) 0 0 no-repeat;
}
.gauge ul li:nth-of-type(5).complete span {
    background-position: 0 -75px;
}
.gauge ul li:nth-of-type(6) span {
    width: 33px;
    height: 75px;
    background: url(../images/challenge/my_count06.png) 0 0 no-repeat;
}
.gauge ul li:nth-of-type(6).complete span {
    background-position: 0 -75px;
}
.gauge ul li:nth-of-type(7) span {
    width: 47px;
    height: 74px;
    background: url(../images/challenge/my_count07.png) 0 0 no-repeat;
}
.gauge ul li:nth-of-type(7).complete span {
    background-position: 0 -74px;
}
.gauge ul li:nth-of-type(8) span {
    width: 88px;
    height: 90px;
    background: url(../images/challenge/my_count08.png) 0 0 no-repeat;
}
.gauge ul li:nth-of-type(8).complete span {
    background-position: 0 -90px;
}
.gauge ul li:nth-of-type(9) span {
    width: 80px;
    height: 107px;
    background: url(../images/challenge/my_count09.png) 0 0 no-repeat;
}
.gauge ul li:nth-of-type(9).complete span {
    background-position: 0 -107px;
}
.gauge ul li:nth-of-type(10) span {
    width: 119px;
    height: 114px;
    background: url(../images/challenge/my_count10.png) 0 0 no-repeat;
}
.gauge ul li:nth-of-type(10).complete span {
    background-position: 0 -114px;
}


/* 인증 완료 */
.challenge .complete-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.challenge .complete-page .deco {
	width: 100px;
	margin-bottom: 40px;
}
.challenge .complete-page .img-thumb {
	overflow: hidden;
	position: relative;
    width: 60%;
    height: 350px;
    border: 1px solid #ccc;
}
.challenge .complete-page .img-thumb img {
	position: absolute;
	top: 50%;
	left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.challenge .complete-page p {
    color: #666;
    font-size: 16px;
}
.challenge .complete-page .txt {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 30px;
}
.challenge .complete-page .txt .user-name {
	font-size: 16px;
}
.challenge .complete-page .txt .chal-title {
	display: block;
    color: #5CB65A;
    font-size: 20px;
    font-weight: 400;
}
.challenge .complete-page .btn {
	position: relative;
	margin-top: 40px;
	z-index: 10;
}


/* 챌린지 완료 문구 */
.challenge .complete-info {
	color: #666;
	font-size: 18px;
	text-align: center;
	line-height: 1.6;
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 50px;
}
.challenge .complete-info strong {
	display: block;
	color: #67b16b;
}



/* 챌린지 참여 방법 안내 */
.step {
	margin-top: 20px;
}
.step-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.step-list li {
	display: flex;
	width: 48%;
}
.step-list li i {
	width: 20px;
	height: 20px;
	color: #fff;
	font-style: normal;
	text-align: center;
	background: #67b16b;
	border-radius: 50%;
	margin: 2px 10px 0 0;
}
.step-list li strong {
	font-weight: 500;
}
.step-list li p {
	color: #666;
}
.challenge .step-list li:nth-child(-n+2) {
	margin-bottom: 20px;
}


/* 챌린지 전체 완료 시 */
@keyframes confetti-slow {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  100% { transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); }
}
@keyframes confetti-medium {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  100% { transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); }
}
@keyframes confetti-fast {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  100% { transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); }
}
.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;
}
.confetti--animation-slow {
  animation: confetti-slow 2.25s linear 1 forwards;
}
.confetti--animation-medium {
  animation: confetti-medium 1.75s linear 1 forwards;
}
.confetti--animation-fast {
  animation: confetti-fast 1.25s linear 1 forwards;
}







