@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
}
html, body {
    color: #333;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
}
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    clip: rect(85px 450px 395px 45px);
}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb { background: #ccc; }
::-webkit-scrollbar-track { background: #eee; border-left: 1px solid #ddd;}



/* ----------------------------------
    Google material icons
    - https://fonts.google.com/icons
---------------------------------- */
.material-icons { vertical-align: middle; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


/* ----------------------------------
    form
---------------------------------- */
input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #333 !important;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="mail"],
input[type="url"],
input[type="number"] {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 10px;
    outline: 0;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="mail"]:focus {
    border: 1px solid #76b779;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder,
input[type="mail"]::placeholder {
    color: #999;
}
.upload-file { /* div */
    position: relative;
    display: inline-block;
    height: 40px;
    border: 0;
    box-sizing: border-box;
}
input[type="text"].input-file { /* input[type="text"] */
    color: #999;
    height: 40px;
    border: 1px solid #ccc;
    vertical-align: 3px;
    outline: 0;
}
input[type="text"].input-file.filled { /* 파일명 들어왔을 경우 */
    border: 1px solid #669948;
}
.upload-file input[type="file"] { /* input[type="file"] */
    overflow: hidden;
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
}
.upload-file label { /* button 파일 선택 */
    display: inline-block;
    color: #76b779;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    min-height: auto;
    line-height: 14px;
    margin-left: 5px;
    padding: 7px 10px;
    vertical-align: top;
    cursor: pointer;
}
.upload-file {
    /* div */
    position: relative;
    display: inline-block;
    height: 40px;
    border: 0;
    box-sizing: border-box;
}
input[type="text"].input-file {
    /* input[type="text"] */
    color: #999;
    height: 40px;
    border: 1px solid #ccc;
    vertical-align: 3px;
    outline: 0;
}
input[type="text"].input-file.filled {
    /* 파일명 들어왔을 경우 */
    border: 1px solid #76b779;
}
.upload-file input[type="file"] {
    /* input[type="file"] */
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
}
.upload-file label {
    /* button 파일 선택 */
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    min-height: auto;
    line-height: 20px;
    margin-left: 5px;
    padding: 7px 10px;
    vertical-align: top;
    cursor: pointer;
}
input[type="checkbox"] label {
    cursor: pointer;
}
.input-with-icon {
    position: relative;
    display: inline-block;
    height: 40px;
    border: 1px solid #ccc;
    padding: 0 10px;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}
.input-with-icon.focus {
    border: 1px solid #669948;
}
.input-with-icon input {
    width: calc(100% - 27px);
    height: 38px;
    border: 0;
    margin-left: 27px;
}
.input-with-icon.focus {
    border: 1px solid #76b779;
}
.input-with-icon input:focus {
    border: 0;
}
.input-with-icon i {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #ccc;
    transform: translateY(-50%);
    transition: all 0.2s ease-out;
}
.input-with-icon.search-input {
    padding: 0;
}
.input-with-icon.search-input input {
    margin: 0 27px 0 0;
}
.input-with-icon.search-input button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.input-with-icon.search-input i {
    position: relative;
    top: auto;
    left: auto;
    transform: translateY(0);
}
textarea {
	color: #333;
	font-family: "Noto Sans KR", sans-serif;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    outline: 0;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
}
textarea::placeholder {
    color: #999;
    font-weight: 300;
    font-family: "Noto Sans KR", sans-serif;
}
textarea:focus {
    border: 1px solid #76b779;
}

.check-box input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.check-box input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
}
.check-box input[type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    margin: 3px 10px 0 0;
}
.check-box input[type="checkbox"]:checked + label:before {
    background: #76b779;
    border: 1px solid #76b779;
}
.check-box input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 2px;
    width: 17px;
    height: 17px;
    background: url(../images/common/check.png) 0 0 no-repeat;
    background-size: 14px;
}
.check-group {
    display: flex;
    flex-wrap: wrap;
}
.check-group .check-box {
    padding-right: 20px;
    margin-bottom: 10px;
}
.check-group .check-box:last-child {
    padding-right: 0;
}
.radio-group {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
}
.radio-group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio-group .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-group:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-group input:checked ~ .checkmark {
    background-color: #67b16b;
}
.radio-group input:checked ~ .checkmark:after {
    display: block;
}
.radio-group .checkmark:after {
    content: '';
    position: absolute;
    display: none;
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
}

select {
    color: #666;
    min-width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
}
select:focus {
    border: 1px solid #76b779;
}
.validate {
    display: block;
    color: #999;
    font-size: 12px;
    margin-top: 5px;
}
.validate.error {
    color: #d82f2f;
}



/* ----------------------------------
    button
---------------------------------- */
button {
    border: 0;
    background: none;
    cursor: pointer;
}
.btn {
    height: 40px;
    min-height: 40px;
    color: #76b779;
    /* font-weight: 700; */
    line-height: 16px;
    background: #fff;
    border: 2px solid #76b779;
    border-radius: 5px;
    padding: 8px 30px;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    vertical-align: top;
}
.btn + .btn {
    margin-left: 5px;
}
.btn.gray {
    color: #a5a5a5;
    background: #fff;
    border: 2px solid #a5a5a5;
}
.btn.gray:disabled {
    color: #fff;
    background: #a5a5a5;
    border: 2px solid #a5a5a5;
    cursor: auto;
}
.btn:hover {
    color: #fff;
    background: #76b779;
    border: 2px solid #76b779;
}
.btn.gray:hover {
    color: #fff;
    background: #b6b6b6;
    border: 2px solid #b6b6b6;
}
.btn.gray:disabled {
    color: #fff;
    background: #b6b6b6;
    border: 2px solid #b6b6b6;
    cursor: auto;
}
.btn.btn-l {
    height: auto;
    font-size: 18px;
    padding: 15px 40px;
}
.btn.btn-s {
    height: auto;
    min-height: auto;
    font-size: 12px;
    padding: 3px 10px;
}
.btn.btn-w {
    width: 200px;
    padding: 8px 0;
}
input[type="button"].btn:not(#checkDuplicate, #edit-btn) {
    height: 40px;
    line-height: 16px;
    padding: 8px 20px;
    cursor: pointer;
}
input[type="submit"].btn {
	cursor: pointer;	
}
input[type="button"].btn.btn-l {
    height: 55px;
    line-height: 20px;
}
a.btn {
    display: inline-block;
    font-weight: 400;
    padding: 9px 20px;
}
.btn i {
    margin-top: -4px;
}
.btn-wrap {
    margin-top: 20px;
    text-align: right;
}
.scroll-top {
    display: none;
    position: fixed;
    right: 100px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    background: #fff;
    padding: 0;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 3px 10px 0px;
    z-index: 2;
}
input + .btn {
    margin-left: 5px;
}
.btn-link {
	display: inline-block;
	color: #666;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}






/* ----------------------------------
    tag
---------------------------------- */
.tag {
    font-size: 10px;
    border-radius: 3px;
    padding: 0 3px 2px;
}
.tag.tag-green {
    color: #76b779;
    border: 1px solid #76b779;
}
.tag.tag-orange {
    color: orange;
    border: 1px solid orange;
}




/* ----------------------------------
    table
---------------------------------- */
.table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #67b16b;
    border-bottom: 1px solid #999;
}
.table thead {
    border-bottom: 1px solid #999;
}
.table thead tr th {font-size: 14px;
	font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
}
.table tbody tr:first-child td {
    border-top: 0;
}
.table tbody tr:hover td {
	background: #f2fcf2;
}
.table tbody tr td:hover td {
	background: #fff;
}
.table tbody tr td {
    color: #666;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 10px;
    word-break: break-all;
}
.table tbody tr td a {
    overflow: hidden;
    color: #666;
    text-overflow: ellipsis;
    display: -webkit-box;
    letter-spacing: -1px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.table tbody tr td.board-tit {
    text-align: left;
}
.table tbody tr td .prd-option {
    color: #999;
    font-size: 12px;
}
.table tbody tr td .prd-option b {
    color: #666;
    font-weight: 300;
}
.table tbody tr td a.btn {
	display: inline-block;
	color: #76b779;
}
.table tbody tr td a.btn:hover {
	color: #fff;
}






/* ----------------------------------
    paging
---------------------------------- */
.paging {
	text-align:center;
	line-height: 1.2;
	margin-top: 4%
}
.paging a,
.paging strong {
	display: inline-block;font-size: 14px;
	text-decoration: none;
	font-weight: normal;
	vertical-align: middle;
}
.paging a,
.paging strong {
	padding: 8px 12px 0 12px;
	height: 24px;
	margin: 0 1px;
}
.paging a {
	color: #777;
	border: 1px solid #dedede;
	background-color: #FFF;
}
.paging strong {
    color: #fff;
    background: #76b779;
    border: 1px solid #76b779;
}
.paging a.first,
.paging a.last,
.paging a.prev,
.paging a.next {
	width: 32px;
	height: 32px;
	padding: 0;
	border: 1px solid #dedede;
	background: url(../images/common/btn_paging.gif) no-repeat;
	background-color: #FFF;
}
.paging a.first { background-position: 0 50%; }
.paging a.prev { background-position: -34px 50%; }
.paging a.next { background-position: -68px 50%; }
.paging a.last { background-position: -102px 50%; }

.paging a:hover,
.paging a:focus {
	background-color: #f5f5f5;
}
.paging a span {
	font-size: 0;
	text-indent: -200%;
}






/* ----------------------------------
    accordian
---------------------------------- */
.accordian ul {
    border-top: 2px solid #76b779;
    border-bottom: 1px solid #a5a5a5;
}
.accordian ul li + li {
    border-top: 1px solid #ddd;
}
.accordian ul li.active {
    background: #f2fcf2;
}
.accordian ul li a { /* question */
    position: relative;
    display: block;
    width: 100%;font-size: 14px;
    padding: 15px 20px;
    box-sizing: border-box;
}
.accordian ul li a:before {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    width: 21px;
    height: 11px;
    background: url(../images/common/arrow_accordian.png) 0 0 no-repeat;
    background-size: 18px;
    transition: all 0.2s ease-out;
}
.accordian ul li.active a:before {
    transform: rotate(-180deg);
}
.accordian ul li a strong {
    font-size: 16px;
    font-weight: 400;
}
.accordian ul li.active a strong {
    color: #76b779;
    font-weight: 500;
}
.accordian ul li div { /* answer */
    display: none;
    position: relative;
    padding: 20px 20px 20px 65px;
    border-top: 1px solid #ddd;
}
.accordian ul li div a:before {
	display: none;
}
.accordian .icon-answer {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #76b779;
    border-radius: 50%;
    font-style: normal;
    vertical-align: -8px;
    margin-right: 10px;
}
.accordian .icon-answer:before {
    content: 'A';
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}
.accordian ul li div p {font-size: 14px;
    color: #666;
}







/* ----------------------------------
    thumbnail list
---------------------------------- */
.thumb-list ul {
    display: flex;
    flex-wrap: wrap;
}
.thumb-list ul li {
    position: relative;
    list-style: none;
    width: calc(100% / 4 - 10px);
    border: 1px solid #ccc;
    margin: 0 13px 15px 0;
    box-sizing: border-box;
}
.thumb-list ul li:nth-of-type(4n+4) {
    margin-right: 0;
}
.thumb-list ul li:hover {
    border: 1px solid #76b779;
    transition: all 0.2s ease-out;
}
.thumb-list ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.thumb-list ul li .img-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 180px;
    border-bottom: 1px solid #ccc;
}
.thumb-list ul li .img-thumb img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.thumb-list ul li strong {
    width: 90%;
    /* min-height: 48px; */
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    display: -webkit-box;
    letter-spacing: -1px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0 10px;
    padding: 0 10px;
}
.thumb-list ul li:hover strong a {
	color: #67b16b;
}
.thumb-list ul li p {
    width: 95%;
    color: #868686;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    display: -webkit-box;
    letter-spacing: -1px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.thumb-list .price {
    padding: 0 10px;
}
.thumb-list .review {
	margin: 15px 0 10px;
}
.thumb-list .btn-wrap {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.thumb-list .btn-wrap a {
    color: #666;
    display: inline-block;
    width: auto;
}
.thumb-list .btn-wrap a + a {
    margin-left: 10px;
}
.thumb-list .tag-wrap {
	min-height: 22px;
	font-size: 12px;
    padding: 5px 10px 0;
}





/* ----------------------------------
    tab
---------------------------------- */
.tab {
}
.tab .tab-title {
    display: flex;
    position: relative;
}
.tab .tab-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #669948;
}
.tab .tab-title > a {
    color: #999;
    width: 33.33%;
    text-decoration: none;
    text-align: center;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    box-sizing: border-box;
}
.tab .tab-title > a.is-open {
    color: #76b779;
    font-weight: 500;
    background: #fff;
    border: 2px solid #76b779;
    }
.tab .tab-view {
    display: none;
}
.tab .tab-view.is-open {
    display: block;
}
.tab .table {
    border-top: 0;
}




/* ----------------------------------
    layer popup
---------------------------------- */
.layer-popup {
    display: none;
    position: fixed;
    width: 800px;
    min-height: 500px;
    background: #fff;
    border: 1px solid #76b779;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    z-index: 6;
}
.layer-popup.is-open {
    display: flex;
    flex-direction: column;
}
.layer-popup .pop-head {
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
.layer-popup .pop-head strong {
	color: #333 !important;
    font-size: 16px;
    font-weight: 500;
}
.layer-popup .pop-cont {
    flex: 1;
    height: 100%;
    padding: 20px;
    min-height: 350px;
}
.layer-popup .btn-wrap {
    margin: 30px;
}
.dimed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .2;
    z-index: 5;
}







/* ----------------------------------
    empty content
---------------------------------- */
.empty-content {
    text-align: center;
    padding: 50px 0;
}
.empty-content.full {
   padding: 150px 0;	
}
.empty-content i {
    color: #ddd;
    font-size: 40px;
}
.empty-content p {
	color: #666;
    font-size: 16px;
    margin-top: 20px;
}
.empty-content .btn {
	margin-top: 30px;
}





.blind {
	display: none;
	position: absolute;
	top: -999em;
	left: -999em;
	font-size: 0;
	width: 0;
	height: 0;
}
.blind:after {
	content: '';
	clear: both;
}
.icon-point {
    color: #76b779;
    font-style: normal;
    font-weight: 500;
    background: url(../images/common/icon_point.png) 0 0 no-repeat;
    padding-left: 25px;
}

.notice-txt {
	color: #999;
	font-size: 12px;
}
table + .notice-txt {
	margin-top: 10px;
}