@charset "UTF-8";

/* ----------------------------------
    login css
---------------------------------- */
.btn-check {
  padding: 7px 10px;
}

.login-wrap {
  position: relative;
  display: flex;
  background-image: url(../images/member/login-background.jpg);
}

.login-left-area {
  /* display: inline-flexbox; */
  width: 58%;
  height: 550px;
  /* background-color: red; */
}

.login-form {
  margin: auto;
  width: 350px;
  height: 550px;
  /* background-color: beige; */
}

.login-form h1 {
  text-align: center;
  font-size: 30px;
  margin-right: 40px;
}

.btn.btn-login {
  width: 300px;
  height: 40px;
  padding: 8px 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #76b779;
  font-family: "Noto Sans KR", sans-serif;
  transition: all 0.2s ease-out;
}

.btn-login:hover {
  background-color: white;
  color: #669948;
}

.short-line {
  width: 300px;
  /* margin: auto; */
  border: none;
  height: 0.1px;
  background-color: #ccc;
}

.long-line {
  width: 500px;
  /* margin: auto; */
  border: none;
  height: 0.3px;
  background-color: #ccc;
  margin: auto;
}
.input-with-icon {
  position: relative;
  display: inline-block;
  height: 40px;
  border: 1px solid #ccc;
  padding: 0 10px;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
}

.input-with-icon input {
  width: 250px;
  height: 32px;
  border: 0;
  margin-left: 27px;
  margin-top: 3px;
  background-color: transparent;
}

/* -------- find area ------------- */
.category ul li ~ li {
  /* border-top: 1px solid #ccc; */
  border-top: none;
}

.category ul li {
  border-top: none;
}

.find-area {
  display: flex;
  /* justify-content: center; */
  line-height: 40px;
  flex-grow: 1;
  margin-left: 65px;
}

.find-area > li {
  font-size: 12px;
  margin-left: 10px;
  font-weight: bold;
  /* color: #c4c4c4; */
  /* border-top: 1px solid red; */
}

#find-area-box ul li ~ li {
  border-top: none;
}

.sml-text2 > span {
  color: #999;
}

.sml-text2 :hover {
  color: #669948;
}

#bar {
  font-size: 14px;
  font-weight: bold;
  color: #999;
}

/*------------- simple login ---------*/
.simple-login-area > p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  /* margin-left: 25px; */
  text-align: center;
  margin-right: 40px;
}

.splgin-btn {
  width: 300px;
  height: 40px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  /* margin-left: 30px; */
  font-family: "Noto Sans KR", sans-serif;
}

.login-btn {
  width: 300px;
  height: 40px;
  margin-top: 5px;
}

/* 색상참고용 */
#naver {
  background-color: #03c75a;
}

#kakao {
  background-color: #fee500;
}

#google {
  background-color: #c4c4c4;
}

/*------------- login img ---------*/
.img-area {
  /* position: relative; */
  position: absolute;
  right: 0px;
  width: 390px;
  /* width: 430px; */
  height: 550px;
  overflow: hidden;
  /* background-color: blue; */
}

#img {
  /* position: relative; */
  position: absolute;
  right: 0px;
  width: 390px;
  height: 100%;
}

/* -------login img animation-------- */
.img-area > #img {
  transform: translateY(0px);
  transition: transform 3s;
}

.img-area:hover > #img {
  transform: scale(1.1) translateY(10px);
}

.input-with-icon {
  /* margin: auto; */
  /* margin-left: 25px; */
}

/* ----------------------------------
    signup css
---------------------------------- */
.signup-wrap {
  position: relative;
  display: flex;
  background-image: url(../images/member/login-background.jpg);
}

.signup-img {
  width: 390px;
  /* height: 550px; */
  /* background-color: blue; */
}

#img2 {
  position: absolute;
  /* left: 0px; */
  right: 0px;
}

#text {
  color: #999;
}


/* ----------------------------------
    signup-form css
---------------------------------- */
.signup-form-wrap {
  background-color: green;
  margin-top: -1px;
  background-image: url(../images/member/signup-form-backimg3.jpg);
}

.signup-input {
  background-color: red;
}
.signup-input input {
  width: 300px;
  height: 42px;
  border-radius: 10px;
}

#profile {
  display: none;
}

.filebox label {
  display: inline-block;
  /* width: 100px; */
  /* height: 20px; */
  padding: 0.6em 1.2em;
  color: #fff;
  vertical-align: middle;
  border: 1.5px solid #76b779;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #76b779;
  font-family: "Noto Sans KR", sans-serif;
  transition: all 0.2s ease-out;
}

.filebox label:hover {
  border: 1.5px solid #669948;
  background-color: white;
  color: #669948;
}

.filebox input[type="file"] {
  display: none;
}

#preview {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 17px;
}

#form-box {
  width: 70%;
  background-image: url(../images/member/signup-form-backimg2.jpg);
  margin: auto;
}

#form-area {
  display: block;
  margin: auto;
  text-align: center;
  /* background-color: beige; */
  width: 550px;
}

#userId {
  margin-left: 80px;
  /* padding: 50px; */
}

.form-group label:not(#check-cont) {
  display: block;
  margin-top: 20px;
  margin-bottom: -10px;
  text-align: left;
  margin-left: 130px;
  font-weight: bold;
  font-size: 17px;
  /* background-color: red; */
}

.form-group input:not(.btn) {
  border-radius: 10px;
  width: 300px;
  height: 40px;
}

.form-group .btn {
  /* position: absolute; */
  float: inline-end;
  width: 70px;
  font-size: 12px;
  text-align: center;
  padding: 0px 0px;
  border-radius: 5px;
  vertical-align: middle;
  /* background-color: red; */
}

/* #checkbox1 {
  font-weight: bold;
} */

.form-group p {
  position: relative;
  top: 25px;
  right: 20px;
  color: green;
  text-align: right;
}

#name-area {
  display: grid;
  grid-template-columns: 285px 160px;
  /* background-color: blue; */
  /* grid-template-columns: 200px; */
}

.pop-cont{
  text-align: left;
}

.layer-popup{
  background-image: url(../images/member/login-background.jpg);
}


#find_post_btn{
  width: 70px;
  height: 37px;
  min-height: 37px !important;
}

#sample5_postcode{
  margin-left: 78px;
  /* width: 190px; */
  /* margin-bottom: 5px; */
}

#checkDuplicate{
  height: 37px;
  min-height: 37px !important;
}

/* ----------------------------------
    find-id css
---------------------------------- */
.img-area2 {
  width: 390px;
  height: 550px;
  overflow: hidden;
  background-color: blue;
}

#img2 {
  position: relative;
  left: 0px;
  width: 390px;
  height: 100%;
  overflow-x:hidden;
  overflow-y:hidden;
  z-index: 1;
}

/* -------find-id img animation-------- */
.img-area2 > #img2 {
  transform: translateY(0px);
  transition: transform 3s;
}

.img-area2:hover > #img2 {
  transform: scale(1.1) translateY(10px);
}

.right-area {
  /* display: inline-flexbox; */
  /* position: absolute; */
  position: relative;
  /* right: 0px; */
  width: 52%;
  height: 550px;
  /* background-color: red; */
}

.find-form {
  /* position: absolute; */
  margin: auto;
  text-align: center;
  width: 350px;
  height: 550px;
  /* background-color: beige; */
}

.find-form h1 {
  text-align: center;
  font-size: 30px;
  margin-right: 40px;
}

.short-line2 {
  width: 90%;
  margin: auto;
  border: none;
  height: 0.1px;
  background-color: #ccc;
}
.find-area2 {
  display: flex;
  justify-content: center;
  line-height: 40px;
  flex-grow: 1;
  margin: auto;
  /* margin-left: 70px; */
  /* background-color: red; */
}

.find-area2 > li {
  font-size: 12px;
  margin-left: 10px;
  font-weight: bold;
  /* color: #c4c4c4; */
  /* border-top: 1px solid red; */
}

#find-area-box ul li ~ li {
  border-top: none;
}

.find-form h1 {
  /* text-align: center; */
  margin-left: 30px;
  /* justify-content: center; */
}

#result-img {
  width: 90px;
  height: 70px;
  margin: auto;
}

#find-text {
  /* font-weight: bold; */
  font-size: 2em;
}

#find-text span {
  color: #669948;
  font-weight: bold;
}
/* ----------------------------------
    find-pw css
---------------------------------- */
.find-form p {
  font-size: 0.85em;
  color: #999;
}

.d{
	margin: auto;
}

#result-img2 {
  width: 120px;
  height: 70px;
  margin: auto;
}

#result-img3 {
  width: 100px;
  height: 100px;
  margin: auto;
}

#find-pw-text {
  font-size: 20px;
}

#small-text {
  font-size: 14px;
}

#authorization-table{
  width: 530px;
  height: 100px;
  /* background-color: lemonchiffon; */
  border-collapse: collapse;
  border: 1px solid #c4c4c4;
  border-top: 2px solid #c4c4c4;
  margin: auto;
  border-left: none;
  border-right: none;	
}

#authorization-table th{
  width: 30%;
  text-align: center;
  /* padding-right: 20px; */
  background-color: rgb(245, 245, 245);
}

#authorization-table tr{
  border-bottom: 1px solid #c4c4c4;
}

#authorization-table td{
  border: none;
  padding-left: 15px;
}

.atho_content{
	text-align: center;
}


/* ----------------------------------
    signup-finish css
---------------------------------- */
.signup-finish-wrap {
  background-color: green;
  margin-top: -1px;
  background-image: url(../images/member/signup-finish-backimg1.png);
}

#congratulation {
  width: 400px;
  height: 200px;
}

#signup-finish-title {
  font-size: 25px;
}

#signup-finish-title span {
  color: green;
}

#signup-finish-text {
  font-size: 14px;
}

#signup-finish-btn1 {
  /* border-radius: 5px; */
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif; */
}


#signup-finish-btn2 {
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif; */
}

/* ----------------------------------
    profile-view css
---------------------------------- */
.profile-wrap {
  /* background-color: green; */
  margin-top: -1px;
  background-image: url(../images/member/profile_view_backimg1.png);
}

.short-line-center{
  width: 300px;
  margin: auto;
  border: none;
  height: 0.1px;
  background-color: #ccc;
}

#profile_table{
  margin: auto;
  width: 375px;
  /* border: 1px solid red; */
  border-top: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 17px;
  margin-bottom: 30px;
}

#profile_table td{
  /* border-top: 1px solid blue; */
  border-top: none;
  padding: 10px 0px 10px 0px;
}

#profile_table td:not(.profile_title){
  padding-left: 30px;
  text-align: left;
  font-weight: 400;
}

.profile_title {
  text-align: RIGHT;
  color: #669948;
  font-weight: bold;
  width: 70px;
}

.btn.btn-reverse {
  width: 300px;
  height: 40px;
  padding: 8px 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #ccc;
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  transition: all 0.2s ease-out;
  border: 1.5px solid #ccc;
}

.btn-reverse:hover {
  background-color: #ccc;
  color: white;
}

.btn-l{
  font-weight: bold;
}

/* ----------------------------------
    profile-update css
---------------------------------- */
.profile-edit-wrap {
  /* background-color: green; */
  margin-top: -1px;
  background-image: url(../images/member/profile_edit_backimg1.png);
}

#edit-box {
  width: 80%;
  background-image: url(../images/member/signup-form-backimg2.jpg);
  margin: auto;
}

#edit-area {
  /* display: flex; */
  margin: auto;
  /* text-align: center; */
  /* background-color: beige; */
  width: 630px;
}

#edit-area h2{
text-align: center;

}



#form-test{
  display: flex;
}


.preview_edit {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.filebox2{
  /* display: block; */
  margin-left: 52px;
  padding-bottom: 50px;
  /* display: inline; */
  /* background-color: yellowgreen; */
}


.filebox2 label {
  /* display: inline-block; */
  /* width: 100px; */
  /* height: 20px; */
  padding: 0.6em 1.2em;
  color: #fff;
  vertical-align: middle;
  border: 1.5px solid #669948;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #669948;
  font-family: "Noto Sans KR", sans-serif;
  transition: all 0.2s ease-out;
}

.filebox2 label:hover {
  border: 1.5px solid #669948;
  background-color: white;
  color: #669948;
}

.filebox2 input[type="file"] {
  display: none;
}


#profile_img_area{
  display: inline-block;
  /* background-color: palevioletred; */
  /* padding-right: 25px; */
}

#edit-input-area{
  display: inline-block;
}

.form-group2{
  width: 430px;
  margin-left: 25px;
  /* background-color: coral; */
  /* display: inline-block; */
}

.form-group2 input:not(.btn) {
  border-radius: 10px;
  width: 250px;
  height: 40px;
  margin-top: 15px;
}

.form-group2 .btn {
  /* position: absolute; */
  float: inline-end;
  width: 70px;
  font-size: 12px;
  text-align: center;
  padding: 0px 0px;
  border-radius: 5px;
  vertical-align: middle;
  /* background-color: red; */
}

.form-group2 p {
  position: relative;
  color: green;
  text-align: right;
  right: 190px;
}

#userId2{
  text-align: left;
}

#btn_area1{
  position: relative;
  display: flex;
  /* margin: auto; */
  /* text-align: center; */
  margin-left: 165px;
}

#edit-btn{
  width: 95px;
  font-size: 13px;
  /* font-weight: bold; */
  font-family: 'Noto Sans KR', sans-serif;
}

#edit-btn2{
  width: 95px;
  font-size: 13px;
  /* font-weight: bold; */
  font-family: 'Noto Sans KR', sans-serif;
}


#edit-btn1{
  width: 95px;
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 10px;
}

#pw-change-table{
  width: 530px;
  height: 200px;
  /* background-color: lemonchiffon; */
  border-collapse: collapse;
  border: 1px solid #c4c4c4;
  border-top: 2px solid #c4c4c4;
  margin: auto;
  border-left: none;
  border-right: none;
}

#pw-change-table th{
  width: 30%;
  text-align: right;
  padding-right: 20px;
  background-color: rgb(245, 245, 245);
}

#pw-change-table tr{
  border-bottom: 1px solid #c4c4c4;
}

#pw-change-table td{
  border: none;
  padding-left: 15px;
}

#btn-area{
  text-align: center;
}

.pop-cont h2{
  text-align: center;
}

.input-group1 input:not(.btn) {
  border-radius: 10px;
  width: 250px;
  height: 38px;
}

#member-passwordcheck, #member-password2{
	margin-left: 5px;
}

/* ----------------------------------
    unregister css
---------------------------------- */
#unregister-btn{
  width: 95px;
  font-size: 13px;
  /* color: gray; */
  /* border: 2px solid gray; */
  /* font-weight: bold; */
  font-family: 'Noto Sans KR', sans-serif; 
}

#unregster_notice{
  width: 550px;
  margin: auto;
  text-align: left;
  /* background-color: rgb(243, 243, 243); */
}

#unregster_notice h2{
  text-align: center;
}

#unregister_cont{
  /* position: relative; */
  width: 550px;
  padding: 20px 20px 20px 20px;
  background-color: rgb(243, 243, 243);
}

/* ----------------------------------
    find-pw-reset css
---------------------------------- */
#pw_reset_section{
  /* background-color: yellow; */
  border-top: 2px solid #ccc;
  width: 90%;
  margin: auto;
}

#pw_reset_section p{
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  padding-left: 25px;
  /* padding-top: 10px; */
  padding-bottom: 10px;
  color: gray;
}


#pw_reswe_title1{
  /* background-color: magenta; */
  padding-top: 15px;
  /* border-top: 2px solid #ccc;*/
  width: 200px;
  margin: auto;
}

#pw_reswe_title2{
  width: 200px;
  margin: auto;
  padding-top: 8px;
  /* background-color: #ccc; */
}


.pw_reset_Tarea{
	display: flex;
}

.alert1{
	/* background-color: yellow; */
  width: 130px;
  text-align: right;
  padding-top: 15px;
  margin-right: 20px;
    /* line-height: 50px; */
}

.pw_reset_Tarea span{
  height: 10px;
	margin-bottom: 22px;
}

/* ----------------------------------
    loading css
---------------------------------- */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  z-index: 1;
}

@keyframes spin {
  0% { transform:translate(-50%,-50%) rotate(0deg); }
  100% { transform:translate(-50%,-50%) rotate(360deg); }
}


