@charset "UTF-8";

/* ----------------------------------
    포인트 내역
---------------------------------- */
.point {

}
.point-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 50px;
}
.point-details .point-deco {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-style: normal;
    border-radius: 50%;
    background: #669948;
}
.point-details .available {
    margin-left: 20px;
}
.point-details .available strong {
    font-size: 16px;
    font-weight: 500;
}
.point-details .available p {
    color: #669948;
    font-size: 20px;
    background-position: 0 70%;
}
.point-details .box {
    width: 167px;
    background: #f9f9f9;
    border: 1px solid #eee;
    padding: 10px 20px;
    box-sizing: border-box;
}
.point-details .box:nth-of-type(3) {
    margin: 0 10px 0 auto;
}
.point-details .box strong {
    color: #666;
    font-size: 16px;
    font-weight: 400;
}
.point-details .box p {
    color: #669948;
    font-size: 14px;
    background-size: 15px;
    background-position: 0 60%;
    padding-left: 20px;
    margin-top: 5px;
}


/* ----------------------------------
    주문 배송 내역
---------------------------------- */

/* ----------------------------------
    찜한 상품
---------------------------------- */

/* ----------------------------------
    1:1 문의 내역
---------------------------------- */

/* ----------------------------------
    참여 중인 챌린지
---------------------------------- */

/* ----------------------------------
    내정보
---------------------------------- */





