@charset "UTF-8";

/* ----------------------------------
    포인트 내역
---------------------------------- */
.point {
}
.point .tab .tab-title > button {
    color: #999;
    width: 33.33%;
    text-decoration: none;
    text-align: center;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    box-sizing: border-box;
}
.point .tab .tab-title > button.is-open {
    color: #76b779;
    font-weight: 500;
    background: #fff;
    border: 2px solid #76b779;
}
.point-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}
.point-details .point-deco {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-style: normal;
    border-radius: 50%;
    background: #669948;
}
.point-details .available {
    margin-left: 20px;
}
.point-details .available strong {
    font-size: 16px;
    font-weight: 500;
}
.point-details .available p {
    color: #458ef2;
    font-size: 20px;
    background-position: 0 70%;
}
.point-details .box {
    width: 130px;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}
.point-details .box:nth-of-type(3) {
    margin-left: auto;
}
.point-details .box:nth-of-type(4) {
	margin: 0 10px;
}
.point-details .box strong {
    color: #666;
    font-size: 16px;
    font-weight: 400;
}
.point-details .box p {
    color: #c93a3a;
    font-size: 14px;
    background-size: 15px;
    background-position: 0 60%;
    padding-left: 20px;
    margin-top: 5px;
}
.point-details .box:nth-of-type(3) p {
	color: #458ef2;
}
.point-plus {
	position: relative;
	color: #458ef2;
	font-weight: 500;
	padding-left: 12px;	
}
.point-plus:before {
	content: '+';
	position: absolute;
	top: 0;
	left: 0;
}
.point-minus {
	position: relative;
	color: #dd5b5b;
	font-weight: 500;
	padding-left: 12px;	
}
.point-minus:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 2px;
	width: 7px;
	height: 1px;
	background: #c93a3a;
	transform: translateX(-50%);
}

/* ----------------------------------
    주문 배송 내역
---------------------------------- */

/* ----------------------------------
    찜한 상품
---------------------------------- */

/* ----------------------------------
    1:1 문의 내역
---------------------------------- */

/* ----------------------------------
    참여 중인 챌린지
---------------------------------- */

/* ----------------------------------
    내정보
---------------------------------- */
#unregister-btn2{
  width: 95px;
  font-size: 13px;
  margin-left: 5px;
  /* color: gray; */
  /* border: 2px solid gray; */
  /* font-weight: bold; */
  font-family: 'Noto Sans KR', sans-serif; 
}

#unregster_notice{
  width: 550px;
  margin: auto;
  text-align: left;
  /* background-color: rgb(243, 243, 243); */
}

#unregster_notice h2{
  text-align: center;
}

#unregister_cont{
  /* position: relative; */
  width: 550px;
  padding: 20px 20px 20px 20px;
  background-color: rgb(243, 243, 243);
}

.layer-inner{
	  text-align: center;
}


.readonly:read-only{
background-color: rgba(239, 239, 239, 0.3);

}

.readonly:focus{
	border: 1px solid #ccc;
}

