@charset "UTF-8";
@import "common.css";
@import "layout.css";
@import "admin.css";      /* 조관우 */
@import "about.css";      /* 류동우 */
@import "challenge.css";  /* 박민영 */
@import "store.css";      /* 이진아 */
@import "mypage.css";      
@import "member.css";     /* 최어진 */


/* ----------------------------------
    visual main
---------------------------------- */
.visual {
    overflow: hidden;
    flex: 1;
    position: relative;
    display: flex;
    overflow: hidden;
    background: #3d9c9b;
    border-bottom: 1px solid #669948;
}
.visual > strong {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-out;
    animation: note 1s;
    animation-direction: alternate;
    margin-left: 20px;
    z-index: 1;
}
@keyframes note {
    0% { top: -100%; }
	100% { top: 80px; }
}
.visual > strong img {
    transform: rotate(-15deg);
    transition: all 0.2s ease-out;
    animation: note2 1s infinite;
    animation-direction: alternate;
}
@keyframes note2 {
	100% { transform: rotate(0deg); }
}
.visual .visual-box {
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 820px;
    background: url(../images/main/bg_visual01.png) right center no-repeat;
    margin-right: -25px;
    padding-right: 25px
}
.visual .visual-box:nth-of-type(2) {
    margin-left: -25px;
    padding-right: 25px;
    /* background: #99BB4E url(../images/main/bg_visual02.png) 0 0 no-repeat; */
    background: url(../images/main/bg_visual02.png) 0 0 no-repeat;
}
.visual .visual-box > strong {
    font-size: 30px;
    transform: translateX(-50%) rotate(0);
    transition: all 0.2s ease-out;
    opacity: 0;
}
.visual .center-img {
    position: absolute;
    top: 50%;
    right: 0;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transform: translateY(-50%) rotate(0);
    margin-right: -250px;
}
.visual [class*=btn-visual] {
    position: absolute;
    top: 43%;
    left: -20px;
    width: 100px;
    height: 40px;
    text-indent: -999em;
    background: #81c2e0 url(../images/main/btn_visual.png) center 40% no-repeat;
    border-radius: 30px;
    transition: all 0.2s ease-out;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 3px 10px 0px;
}
.visual [class*=btn-visual]:hover {
    background: #519ad2 url(../images/main/btn_visual.png) center 40% no-repeat;
}
.visual .btn-visual-undo {
    left: -50%;
    opacity: .5;
    transform: rotateY(180deg);
}
.visual .best-main {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    width: 400px;
    height: 300px;
    text-align: left;
    background: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 3px 10px 0px;
}
.visual .best-main .thumb-img {
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 100%;
    border-right: 1px solid #ddd;
}
.visual .best-main .thumb-img img {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
}
.visual .best-main .cont {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.visual .best-main .cont span {
    color: #9c7414;
    font-size: 14px;
}
.visual .best-main .cont span i {
    display: block;
    color: #f0ba38;
    margin: 0 0 5px -5px;
}
.visual .best-main strong {
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin: 25px 0 5px;
}
.visual .best-main p {
    width: 95%;
    color: #868686;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    display: -webkit-box;
    letter-spacing: -1px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
}
.visual .best-main .btn {
    margin-top: 35px;
}
.visual .best-list-main {
    position: absolute;
    top: 450px;
    left: -50%;
    display: flex;
    overflow: hidden;
    padding: 0 10px 30px 10px;
}
.visual .best-list-main li {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 295px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 3px 10px 0px;
}
.visual .best-list-main .bg-thumb {
	/* content: ''; */
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: url(../images/main/bg_main_thumb.png) 0 0 no-repeat;
	z-index: 1;
}
.visual .best-list-main li a {
    display: block;
    width: 100%;
    height: 100%;
}
.visual .best-list-main li + li {
    margin-left: 20px;
}
.visual .best-list-main li .thumb-img {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #ccc;
}
.visual .best-list-main li .thumb-img img {
    width: 100%;
}
.visual .best-list-main li .txt-thumb {
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 2;
}
.visual .best-list-main li strong {
    display: block;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
    margin: 10px 0 5px;
    z-index: 2;
}
.visual .best-list-main li p {
    width: 95%;
    color: #868686;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
    display: -webkit-box;
    letter-spacing: -1px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
    padding: 0 15px;
    z-index: 2;
}

/* store */
.visual .store .center-img {
    left: 0;
    right: auto;
    width: 550px;
    height: 550px;
    margin-left: -205px;
    transform: translateY(-50%) rotate(50deg);
}
.visual .store [class*=btn-visual] {
    left: auto;
    right: -20px;
    background: #5b9a5e url(../images/main/btn_visual.png) center 40% no-repeat;
    transform: rotateY(180deg);
}
.visual .store [class*=btn-visual]:hover {
    background: #437645 url(../images/main/btn_visual.png) center 40% no-repeat;
}
.visual .store .btn-visual-undo {
    left: auto;
    right: -50%;
    transform: rotateY(0);
}
.visual .store .best-main {
    left: auto;
    right: -100%;
    border: 0;
}
.visual .store .best-list-main {
    left: auto;
    right: -50%;
    /* width: 1260px; */
}








.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: linear-gradient(to right, #E8F0E4, #AFCCA6);
}
.main-box p {
    color: #576636;
    font-size: 28px
}
.photo-box {
    height: 447px;
    background: url(../images/main/bg_main01.png) center center no-repeat;
    padding: 200px 0 0 360px;
    box-sizing: border-box;
}
.photo-box.photo2 {
    text-align: right;
    background: url(../images/main/bg_main02.png) center center no-repeat;
    border-top: 1px solid #ccc;
    padding: 200px 410px 0 0;
}
.photo-box strong {
    display: block;
    color: #009975;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
}
.photo-box p {
    color: #666;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}



/* ----------------------------------
    page
---------------------------------- */
.page-tit {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
}
.page-tit h3 {
    font-size: 24px;
    font-weight: 500;
}
.page-tit h3 span {
	position: relative;
    display: block;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    padding-left: 15px;
}
.page-tit h3 span:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #67b16b;
	transform: translateY(-50%);
	margin-top: 1px;
}
.page-tit .bread-crumb a,
.page-tit .bread-crumb span {
    position: relative;
    color: #999;
    font-size: 12px;
}
.page-tit .bread-crumb span {
    color: #666;
}
.page-tit .bread-crumb a + a:hover {
    text-decoration: underline;
}
.page-tit .bread-crumb a + a,
.page-tit .bread-crumb a + span {
    margin-left: 5px;
    padding-left: 10px;
}
.page-tit .bread-crumb a + a:before,
.page-tit .bread-crumb a + span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 7px;
    background: url(../images/common/arrow_bread_crumb.png);
    transform: translateY(-50%);
}
.page-tit .bread-crumb a.current {
    color: #555;
    font-weight: 500;
}
.page-tit .bread-crumb a i {
    vertical-align: middle;
    margin-top: -4px;
}




.board-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.board-head .board-result {
    color: #666;
    font-size: 14px;
}
.board-head .board-result span {
    color: #333;
    font-weight: 500;
}
.board-head .input-with-icon {
	margin-bottom: 0;
}

.category {
    border-top: 2px solid #67b16b;
    border-bottom: 1px solid #ccc;
}
.category ul li {
    display: flex;
}
.category ul li + li:not(.find-area li) {
    border-top: 1px solid #ccc;
}
.category ul li strong {
    width: 100px;
    font-size: 14px;
    font-weight: 400;
    background: #f9f9f9;
    padding: 20px;
}
.category .check-group {
    width: 100%;
    padding: 20px 20px 10px;
}







/* ----------------------------------
    star
---------------------------------- */
.icon-star {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 16px;
}
.icon-star i {
    display: block;
    width: 100%;
    height: 100%;
}
.icon-star .unfill {
    background: url(../images/common/icon_star_unfill.png) 0 0 no-repeat;
}
.icon-star .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url(../images/common/icon_star_fill.png) 0 0 no-repeat;
}











/* @temp guide */
.guide {
    margin-top: 20px;
}
.guide section {
    padding: 20px 0 30px;
}
.guide section + section {
    padding-top: 80px;
    border-top: 1px solid #ddd;
}
.guide section > strong {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}