<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.earth.challenge.model.dao.ChallengeMapper">
	<sql id="todayListSql">
		SELECT
		    CATEGORY,
		    CHAL_NO,
		    CHAL_TITLE,
		    CHAL_CONTENT,
		    CHAL_IMG_PATH,
		    CHAL_POINT,
		    CHAL_DATE
		FROM CHAL_TODAY
	</sql>
	
	<!-- 오늘의 챌린지 목록 -->
	<resultMap type="Today" id="todayListResultMap">
		<id property="chalNo" column="CHAL_NO" />
		<result property="category" column="CATEGORY" />
		<result property="chalTitle" column="CHAL_TITLE" />
		<result property="chalContent" column="CHAL_CONTENT" />
		<result property="chalImgPath" column="CHAL_IMG_PATH" />
		<result property="chalPoint" column="CHAL_POINT" />
		<result property="chalDate" column="CHAL_DATE" />
	</resultMap>
	
	<!-- 오늘의 챌린지 참여 회원 목록 -->
	<resultMap type="TodayMember" id="todayMemberResultMap">
		<id property="no" column="NO" />
		<result property="memNo" column="MEM_NO" />
		<result property="chalNo" column="CHAL_NO" />
		<result property="chalDate" column="CHAL_DATE" />
		<result property="chalStatus" column="CHAL_STATUS" />
		<result property="originalFilename" column="ORIGINAL_FILENAME" />
		<result property="renamedFilename" column="RENAMED_FILENAME" />
		<result property="chalPoint" column="CHAL_POINT" />
		<result property="chalPointStatus" column="CHAL_POINT_STATUS" />
	</resultMap>
	
	<!-- 이달의 챌린지 목록 -->
	<resultMap type="Month" id="MonthListResultMap">
		<id property="chalNo" column="CHAL_NO" />
		<result property="category" column="CATEGORY" />
		<result property="chalTitle" column="CHAL_TITLE" />
		<result property="chalContent" column="CHAL_CONTENT" />
		<result property="chalImgPath" column="CHAL_IMG_PATH" />
		<result property="chalPoint" column="CHAL_POINT" />
		<result property="chalCount" column="CHAL_COUNT" />
		<result property="chalDate" column="CHAL_DATE" />
		<result property="chalModifyDate" column="CHAL_MODIFY_DATE" />
	</resultMap>
	
	<!-- 이달의 챌린지 참여 회원 목록 -->
	<resultMap type="MonthMember" id="MonthMemberResultMap">
		<id property="no" column="NO" />
		<result property="memNo" column="MEM_NO" />
		<result property="chalNo" column="CHAL_NO" />
		<result property="chalDate" column="CHAL_DATE" />
		<result property="originalFilename" column="ORIGINAL_FILENAME" />
		<result property="renamedFilename" column="RENAMED_FILENAME" />
		<result property="chalPoint" column="CHAL_COUNT" />
		<result property="chalStatus" column="CHAL_STATUS" />
		<result property="chalPoint" column="CHAL_POINT" />
		<result property="chalPointStatus" column="CHAL_POINT_STATUS" />
	</resultMap>
	
	
	
	
  	
  	<!-- 오늘의 챌린지 목록 조회 -->
  	<select id="findAllToday" parameterType="map" resultMap="todayListResultMap">
		<include refid="todayListSql" />
  	</select>
  	
  	<!-- 오늘의 챌린지 참여 회원 목록 조회 -->
  	<select id="findAllTodayMember" parameterType="map" resultMap="todayMemberResultMap">
  		<!-- SELECT 
  			M.NO,
  			M.MEM_NO,
  			M.CHAL_NO,
  			T.CHAL_TITLE,
  			M.CHAL_DATE,
  			M.CHAL_STATUS,
  			M.ORIGINAL_FILENAME,
  			M.RENAMED_FILENAME,
  			M.CHAL_POINT,
  			M.CHAL_POINT_STATUS
		FROM CHAL_TODAY_MEM M
		JOIN CHAL_TODAY T ON (M.CHAL_NO = T.CHAL_NO) -->
		SELECT 
		    NO,
		    MEM_NO,
		    CHAL_NO,
		    CHAL_DATE,
		    CHAL_STATUS,
		    ORIGINAL_FILENAME,
		    RENAMED_FILENAME,
		    CHAL_POINT,
		    CHAL_POINT_STATUS
		FROM CHAL_TODAY_MEM
  	</select>
  	
  	<!-- 챌린지 번호로 오늘의 챌린지 목록 조회 -->
  	<select id="selectTodayListByNo" parameterType="_int" resultMap="todayListResultMap">
		SELECT
		    CATEGORY,
		    CHAL_NO,
		    CHAL_TITLE,
		    CHAL_CONTENT,
		    CHAL_IMG_PATH,
		    CHAL_POINT,
		    CHAL_DATE
		FROM CHAL_TODAY
		WHERE CHAL_NO = #{ chalNo }
	</select>
	
	<!-- 참여 회원, 참여한 오늘의 챌린지 조회 -->
	<resultMap type="TodayMember" extends="todayMemberResultMap" id="todayMemberDetailResultMap">
		<collection property="today" javaType="arraylist" columnPrefix="T_" resultMap="todayListResultMap" />
	</resultMap>
	
	<select id="selectTodayCompleteListByNo" parameterType="map" resultMap="todayMemberDetailResultMap">
		SELECT 
		    M.NO,
		    M.MEM_NO,
		    M.CHAL_NO,
		    T.CHAL_TITLE,
		    M.CHAL_DATE,
		    M.CHAL_STATUS,
		    M.ORIGINAL_FILENAME,
		    M.RENAMED_FILENAME,
		    M.CHAL_POINT,
		    M.CHAL_POINT_STATUS
		FROM CHAL_TODAY_MEM M
		JOIN CHAL_TODAY T ON (M.CHAL_NO = T.CHAL_NO)
		WHERE M.MEM_NO = #{ memNo } AND M.CHAL_NO = #{ chalNo }
	</select>
  	
  	<!-- 오늘의 챌린지 인증 시 참여 회원 추가 -->
  	<insert id="insertTodayMember" parameterType="TodayMember" useGeneratedKeys="true" keyColumn="NO" keyProperty="no">
		INSERT INTO CHAL_TODAY_MEM (
			NO,
			MEM_NO,
			CHAL_NO,
			CHAL_DATE,
			CHAL_STATUS,
			ORIGINAL_FILENAME,
			RENAMED_FILENAME,
			CHAL_POINT,
			CHAL_POINT_STATUS
		) VALUES (
			SEQ_CHLG_TODAY_MEM.NEXTVAL,
			#{ memNo },
			#{ chalNo },
			DEFAULT,
			DEFAULT,
			#{ originalFilename },
			#{ renamedFilename },
			1000,
			DEFAULT
		)
	</insert>
	
	
	<!-- 이달의 챌린지 목록 조회 -->
	<select id="findAllMonth" parameterType="map" resultMap="MonthListResultMap">
		SELECT
		    CATEGORY,
		    CHAL_NO,
		    CHAL_TITLE,
		    CHAL_CONTENT,
		    CHAL_IMG_PATH,
		    CHAL_POINT,
		    CHAL_COUNT,
		    CHAL_DATE,
		    CHAL_MODIFY_DATE
		FROM CHAL_MONTH
		ORDER BY CHAL_NO DESC
  	</select>
  	
  	<select id="getBoardCount" parameterType="map" resultType="_int">
  		SELECT COUNT (*)
  		FROM CHAL_MONTH
  	</select>
  	
  	<!-- 이달의 챌린지 목록 조회 (정렬) -->
	<select id="selectFilterMonth" parameterType="map" resultMap="MonthListResultMap">
		SELECT
		    CATEGORY,
		    CHAL_NO,
		    CHAL_TITLE,
		    CHAL_CONTENT,
		    CHAL_IMG_PATH,
		    CHAL_POINT,
		    CHAL_COUNT,
		    CHAL_DATE,
		    CHAL_MODIFY_DATE
		FROM CHAL_MONTH
		<!-- <trim prefix="ORDER BY"> 
	         <if test="orderby == 'CHAL_NO'">최신순</if>
	         <if test="orderby == 'CHAL_POINT'">높은 포인트순</if>
	         <if test="orderby == 'CHAL_POINT'">낮은 포인트순</if>
		</trim> -->
  	</select>
  	
  	<!-- 이달의 챌린지 상세 조회 -->
  	<select id="selectMonthListByNo" parameterType="_int" resultMap="MonthListResultMap">
		SELECT
		    CATEGORY,
		    CHAL_NO,
		    CHAL_TITLE,
		    CHAL_CONTENT,
		    CHAL_IMG_PATH,
		    CHAL_POINT,
		    CHAL_COUNT,
		    CHAL_DATE,
		    CHAL_MODIFY_DATE
		FROM CHAL_MONTH
		WHERE CHAL_NO = #{ chalNo }
	</select>
	
	
	
	
	
	
	
	<!-- <select id="selectMonthListByMemNo" parameterType="_int" resultMap="MonthMemberResultMap">
		SELECT 
			M.NO,
			M.MEM_NO,
			M.CHAL_NO,
			T.CHAL_TITLE,
			M.CHAL_DATE,
			M.ORIGINAL_FILENAME,
			M.RENAMED_FILENAME,
			M.CHAL_COUNT,
			M.CHAL_STATUS,
			M.CHAL_POINT,
			M.CHAL_POINT_STATUS
		FROM CHAL_MONTH_MEM M
		LEFT JOIN CHAL_MONTH T ON (M.CHAL_NO = T.CHAL_NO)
		WHERE M.MEM_NO = #{ memNo }
	</select> -->
	
	
	
	
	

</mapper>
