<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.earth.challenge.model.dao.ChallengeMapper">
	<sql id="todayListSql">
		SELECT
		    CATEGORY,
		    CHAL_NO,
		    CHAL_TITLE,
		    CHAL_CONTENT,
		    ORIGINAL_FILENAME,
		    RENAMED_FILENAME,
		    CHAL_POINT,
		    START_DATE,
		    END_DATE,
		    CHAL_STATUS
		FROM CHAL_TODAY
	</sql>
	
	<sql id="monthListSql">
		SELECT
		    CATEGORY,
		    CHAL_NO,
		    CHAL_TITLE,
		    CHAL_CONTENT,
		    ORIGINAL_FILENAME,
		    RENAMED_FILENAME,
		    CHAL_POINT,
		    CHAL_COUNT,
		    START_DATE,
		    END_DATE,
		    CHAL_STATUS
		FROM CHAL_MONTH
	</sql>
	
	<!-- 오늘의 챌린지 목록 -->
	<resultMap type="Today" id="todayListResultMap">
		<id property="chalNo" column="CHAL_NO" />
		<result property="category" column="CATEGORY" />
		<result property="chalTitle" column="CHAL_TITLE" />
		<result property="chalContent" column="CHAL_CONTENT" />
		<result property="originalFilename" column="ORIGINAL_FILENAME" />
		<result property="renamedFilename" column="RENAMED_FILENAME" />
		<result property="chalPoint" column="CHAL_POINT" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="charStatus" column="CHAL_STAUTS" />
	</resultMap>
	
	<!-- 오늘의 챌린지 참여 회원 목록 -->
	<resultMap type="TodayMember" id="todayMemberResultMap">
		<id property="no" column="NO" />
		<result property="memNo" column="MEM_NO" />
		<result property="chalNo" column="CHAL_NO" />
		<result property="chalTitle" column="T_CHAL_TITLE" />
		<result property="chalDate" column="CHAL_DATE" />
		<result property="chalStatus" column="CHAL_STATUS" />
		<result property="originalFilename" column="ORIGINAL_FILENAME" />
		<result property="renamedFilename" column="M_RENAMED_FILENAME" />
		<result property="chalPoint" column="T_CHAL_POINT" />
		<result property="chalPointStatus" column="CHAL_POINT_STATUS" />
	</resultMap>
	
	<!-- 이달의 챌린지 목록 -->
	<resultMap type="Month" id="MonthListResultMap">
		<id property="chalNo" column="CHAL_NO" />
		<result property="category" column="CATEGORY" />
		<result property="chalTitle" column="CHAL_TITLE" />
		<result property="chalContent" column="CHAL_CONTENT" />
		<result property="originalFilename" column="ORIGINAL_FILENAME" />
		<result property="renamedFilename" column="RENAMED_FILENAME" />
		<result property="chalPoint" column="CHAL_POINT" />
		<result property="chalCount" column="CHAL_COUNT" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="chalStatus" column="CHAL_STATUS" />
	</resultMap>
	
	<!-- 이달의 챌린지 참여 회원 목록 -->
	<resultMap type="MonthMember" id="MonthMemberResultMap">
		<id property="no" column="NO" />
		<result property="memNo" column="T_MEM_NO" />
		<result property="id" column="MEMBER_ID" />
		<result property="chalNo" column="CHAL_NO" />
		<result property="chalTitle" column="T_CHAL_TITLE" />
		<result property="chalContent" column="CHAL_CONTENT" />
		<result property="chalDate" column="CHAL_DATE" />
		<result property="originalFilename" column="ORIGINAL_FILENAME" />
		<result property="renamedFilename" column="M_RENAMED_FILENAME" />
		<result property="modifyImgName" column="MEMBER_MODIFY_IMG_NAME" />
		<result property="chalCount" column="CHAL_COUNT" />
		<result property="myCount" column="M_MY_COUNT" />
		<result property="chalStatus" column="CHAL_STATUS" />
		<result property="chalPoint" column="T_CHAL_POINT" />
		<result property="chalPointStatus" column="CHAL_POINT_STATUS" />
	</resultMap>
	
	<!-- 포인트 -->
	<resultMap type="Point" id="pointListResultMap">
		<id property="pointNo" column="POINT_NO" />
		<result property="memNo" column="MEM_NO" />
		<result property="saveDate" column="SAVE_DATE" />
		<result property="saveContent" column="SAVE_CONTENT" />
		<result property="savePoint" column="SAVE_POINT" />
		<result property="spendDate" column="SPEND_DATE" />
		<result property="spendContent" column="SPEND_CONTENT" />
		<result property="spendPoint" column="SPEND_POINT" />
		<result property="disapearDate" column="DISAPEAR_DATE" />
		<result property="pointCategory" column="POINT_CATEGORY" />
		<result property="saveStatus" column="SAVE_STATUS" />
	</resultMap>
	
	<!-- 댓글 -->
	<resultMap type="Reply" id="replyResultMap">
		<id property="replyNo" column="REPLY_NO" />
		<result property="memNo" column="MEM_NO" />
		<result property="chalNo" column="CHAL_NO" />
		<result property="content" column="CONTENT" />
		<result property="replyDate" column="REPLY_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="modifyImgName" column="MODIFY_IMG_NAME" />
		<result property="id" column="ID" />
	</resultMap>
	
	<!-- 대댓글 -->
	<resultMap type="NestedReply" id="nestedReplyResultMap">
		<id property="nestedReplyNo" column="NESTED_REPLY_NO" />
		<result property="replyNo" column="REPLY_NO" />
		<result property="memNo" column="MEM_NO" />
		<result property="chalNo" column="CHAL_NO" />
		<result property="content" column="CONTENT" />
		<result property="replyDate" column="REPLY_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="modifyImgName" column="MODIFY_IMG_NAME" />
		<result property="id" column="ID" />
	</resultMap>
	
	<!-- 신고 -->
	<resultMap type="Report" id="ReportResultMap">
		<id property="reportNo" column="REPORTNO" />
		<result property="reportedMemberNo" column="REPORTEDMEMBERNO" />
		<result property="reportMemberNo" column="REPORTMEMBERNO" />
		<result property="reportedMemberName" column="REPORTEDMEMBERNAME" />
		<result property="reportMemberName" column="REPORTMEMBERNAME" />
		<result property="reportDate" column="REPORTDATE" />
		<result property="reportTitle" column="REPORTTITLE" />
		<result property="reportContent" column="REPORTCONTENT" />
		<result property="reportCategory" column="REPORTCATEGORY" />
		<result property="reportStatus" column="REPORTSTATUS" />
	</resultMap>
	
	<!-- 상품 -->
	<resultMap type="Product" id="ProductListResultMap">
		<id property="proNo" column="PRO_NO"/>
		<result property="proName" column="PRO_NAME"/>
		<result property="proPrice" column="PRO_PRICE"/>
		<result property="proDate" column="PRO_DATE"/>
		<result property="proModifyDate" column="PRO_MODIFY_DATE"/>
		<result property="proVol" column="PRO_VOL"/>
		<result property="proImg" column="PRO_IMG"/>
		<result property="proModifyImg" column="PRO_MODIFY_IMG"/>
		<result property="proImg" column="PRO_IMG"/>
		<result property="proInfo" column="PRO_INFO"/>
		<result property="proStat" column="PRO_STAT"/>
		<result property="proCat" column="PRO_CAT"/>
		<result property="proSold" column="PRO_SOLD"/>
		<result property="proMfg" column="PRO_MFG"/>
		<result property="proRating" column="PRO_RATING"/>
	</resultMap>
	
	
	
	
  	
  	<!-- 오늘의 챌린지 목록 조회 -->
  	<select id="findAllToday" parameterType="map" resultMap="todayListResultMap">
  		<include refid="todayListSql" />
		<!-- WHERE TO_CHAR(START_DATE, 'YYYY/MM/DD') = #{ formatedNow } AND TO_CHAR(END_DATE, 'YYYY/MM/DD') = #{ formatedNow } -->
		WHERE TO_CHAR(START_DATE, 'yyyy/MM/dd') = #{ formatedNow } AND TO_CHAR(END_DATE, 'yyyy/MM/dd') = #{ formatedNow }
  	</select>
  	
  	<!-- 오늘의 챌린지 상세 조회 -->
  	<select id="selectTodayListByNo" parameterType="_int" resultMap="todayListResultMap">
		<include refid="todayListSql" />
		WHERE CHAL_NO = #{ chalNo }
	</select>
	
	<!-- 오늘의 챌린지 상세 조회(인증 완료 챌린지) -->
	<select id="findTodayCompleteList" parameterType="_int" resultMap="todayMemberResultMap">
		SELECT 
			CHAL_NO,
			CHAL_DATE
		FROM CHAL_TODAY_MEM
		WHERE MEM_NO = #{ no } AND TO_CHAR(CHAL_DATE, 'YYYY/MM/DD') = TO_CHAR(SYSDATE, 'YYYY/MM/DD')
	</select>
	
	<!-- 오늘의 챌린지 인증 완료 시, 완료 챌린지명 / 파일명 조회 -->
	<select id="findChalTitle" parameterType="map" resultMap="todayMemberResultMap">
		SELECT
		    T.CHAL_TITLE AS T_CHAL_TITLE,
		    T.CHAL_POINT AS T_CHAL_POINT,
		    M.RENAMED_FILENAME AS M_RENAMED_FILENAME
		FROM CHAL_TODAY_MEM M
		JOIN CHAL_TODAY T ON (M.CHAL_NO = T.CHAL_NO)
		WHERE M.CHAL_NO = #{ chalNo } AND M.MEM_NO = #{ no }
	</select>
	
  	<!-- 오늘의 챌린지 인증 시 참여 회원 저장 -->
  	<insert id="insertTodayMember" parameterType="Today" useGeneratedKeys="true" keyColumn="NO" keyProperty="no">
		INSERT INTO CHAL_TODAY_MEM (
			NO,
			MEM_NO,
			CHAL_NO,
			CHAL_DATE,
			CHAL_STATUS,
			ORIGINAL_FILENAME,
			RENAMED_FILENAME,
			CHAL_POINT,
			CHAL_POINT_STATUS
		) VALUES (
			SEQ_CHAL_TODAY_MEM.NEXTVAL,
			#{ no },
			#{ chalNo },
			DEFAULT,
			DEFAULT,
			#{ originalFilename },
			#{ renamedFilename },
			1000,
			DEFAULT
		)
	</insert>
	
	<!-- 오늘의 챌린지 참여 회원 목록 조회 -->
	<select id="selectTodayMemberListByNo" parameterType="arraylist" resultMap="todayMemberResultMap">
		SELECT 
			CHAL_NO,
			CHAL_DATE
		FROM CHAL_TODAY_MEM
		WHERE MEM_NO = #{ no } AND TO_CHAR(CHAL_DATE, 'YYYY/MM/DD') = TO_CHAR(SYSDATE, 'YYYY/MM/DD')
		ORDER BY NO
	</select>
	
	<!-- 챌린지 달성 시 포인트 업데이트 -->
	<insert id="insertPoint" parameterType="Point" useGeneratedKeys="true" keyColumn="POINT_NO" keyProperty="pointNo">
		INSERT INTO POINT (
			POINT_NO,
			MEM_NO,
			SAVE_DATE,
			SAVE_CONTENT,
			SAVE_POINT,
			SPEND_DATE,
			DISAPEAR_DATE,
			SAVE_STATUS
		) VALUES (
			SEQ_POINT.NEXTVAL,
			#{ memNo },
			DEFAULT,
			'챌린지 달성',
			#{ savePoint },
			NULL,
			#{ disapearDate },
			DEFAULT
		)
	</insert>
	
	
	
	
	
	
	
	
	
	<resultMap type="Month" extends="MonthListResultMap" id="monthDetailResultMap">
		<collection property="replies" javaType="arraylist" columnPrefix="R_" resultMap="replyResultMap" />
		<collection property="nestedReplies" javaType="arraylist" columnPrefix="N_" resultMap="nestedReplyResultMap" />
	</resultMap>
	
	<select id="selectMonthListByNo" parameterType="_int" resultMap="monthDetailResultMap">
		<!-- SELECT 
		    M.CATEGORY,
		    M.CHAL_NO,
		    M.CHAL_TITLE,
		    M.CHAL_CONTENT,
		    M.ORIGINAL_FILENAME,
		    M.RENAMED_FILENAME,
		    M.CHAL_POINT,
		    M.CHAL_COUNT,
		    M.START_DATE,
		    M.END_DATE,
		    M.CHAL_STATUS,
            R.REPLY_NO AS R_REPLY_NO,
            R.MEM_NO AS R_MEM_NO,
            R.CHAL_NO AS R_CHAL_NO,
            R.CONTENT AS R_CONTENT,
            R.REPLY_DATE AS R_REPLY_DATE,
            R.MODIFY_DATE AS R_MODIFY_DATE,
            MEMBER.MODIFY_IMG_NAME AS R_MODIFY_IMG_NAME,
            MEMBER.ID AS R_ID
        FROM CHAL_MONTH M
        LEFT OUTER JOIN CHAL_REPLY R ON (M.CHAL_NO = R.CHAL_NO)
        LEFT OUTER JOIN MEMBER MEMBER ON (R.MEM_NO = MEMBER.NO)
        WHERE M.CHAL_NO = #{ chalNo }
        ORDER BY R.REPLY_NO DESC -->
        
        SELECT 
		    M.CATEGORY,
		    M.CHAL_NO,
		    M.CHAL_TITLE,
		    M.CHAL_CONTENT,
		    M.ORIGINAL_FILENAME,
		    M.RENAMED_FILENAME,
		    M.CHAL_POINT,
		    M.CHAL_COUNT,
		    M.START_DATE,
		    M.END_DATE,
		    M.CHAL_STATUS,
            R.REPLY_NO AS R_REPLY_NO,
            R.MEM_NO AS R_MEM_NO,
            R.CHAL_NO AS R_CHAL_NO,
            R.CONTENT AS R_CONTENT,
            R.MODIFY_DATE AS R_REPLY_DATE,
            R.MODIFY_DATE AS R_MODIFY_DATE,
            N.NESTED_REPLY_NO AS N_NESTED_REPLY_NO,
            N.REPLY_NO AS N_REPLY_NO,
            N.MEM_NO AS N_MEM_NO,
            N.CONTENT AS N_CONTENT,
            N.MODIFY_DATE N_MODIFY_DATE,
            MEMBER.MODIFY_IMG_NAME AS R_MODIFY_IMG_NAME,
            MEMBER.ID AS R_ID,
            MEMBER2.MODIFY_IMG_NAME AS N_MODIFY_IMG_NAME,
            MEMBER2.ID AS N_ID
        FROM CHAL_MONTH M
        LEFT OUTER JOIN CHAL_REPLY R ON (M.CHAL_NO = R.CHAL_NO)
        LEFT OUTER JOIN CHAL_NESTED_REPLY N ON (N.REPLY_NO = R.REPLY_NO)
        LEFT OUTER JOIN MEMBER MEMBER ON (R.MEM_NO = MEMBER.NO)
        LEFT OUTER JOIN MEMBER MEMBER2 ON (N.MEM_NO = MEMBER2.NO)
        WHERE M.CHAL_NO = #{ chalNo }
        ORDER BY R.REPLY_NO DESC, N.NESTED_REPLY_NO DESC
	</select>
	
	<!-- 이달의 챌린지 전체 목록 개수 조회 -->
  	<select id="getBoardCount" parameterType="map" resultType="_int">
  		SELECT COUNT (*)
  		FROM CHAL_MONTH
  		WHERE CHAL_STATUS = 'Y'
  	</select>
  	
	<!-- 이달의 챌린지 목록 조회 -->
	<select id="findAllMonth" parameterType="map" resultMap="MonthListResultMap">
		<include refid="monthListSql" />
		ORDER BY CHAL_NO DESC
  	</select>
  	
  	<!-- 이달의 챌린지 목록 조회 + 정렬 -->
  	<select id="findAllMonthArrange" parameterType="string" resultMap="MonthListResultMap">
		<include refid="monthListSql" />
		<if test="arrange == '최신순'">
			ORDER BY CHAL_NO DESC
		</if>
		<if test="arrange == '높은포인트순'">
			ORDER BY CHAL_POINT DESC, CHAL_NO DESC
		</if>
		<if test="arrange == '낮은포인트순'">
			ORDER BY CHAL_POINT ASC, CHAL_NO DESC
		</if>
  	</select>
  	
  	<!-- 이달의 챌린지 상세 조회 -->
  	<!-- <select id="selectMonthListByNo" parameterType="_int" resultMap="MonthListResultMap">
		<include refid="monthListSql" />
		WHERE CHAL_NO = #{ chalNo }
	</select> -->
	
	<!-- 이달의 챌린지 인증 완료 시, 완료 챌린지명 / 파일명 조회 -->
	<select id="findMonthCompleteList" parameterType="map" resultMap="MonthMemberResultMap">
		SELECT
		    T.CHAL_TITLE AS T_CHAL_TITLE,
		    T.CHAL_POINT AS T_CHAL_POINT,
		    T.CHAL_NO,
		    M.RENAMED_FILENAME AS M_RENAMED_FILENAME
		FROM CHAL_MONTH_MEM M
		JOIN CHAL_MONTH T ON (M.CHAL_NO = T.CHAL_NO)
		WHERE M.CHAL_NO = #{ chalNo } AND M.MEM_NO = #{ no }
		ORDER BY NO DESC
	</select>
	
	<!-- 이달의 챌린지 인증 시 참여 회원 저장 -->
  	<insert id="insertMonthMember" parameterType="MonthMember" useGeneratedKeys="true" keyColumn="NO" keyProperty="no">
		INSERT INTO CHAL_MONTH_MEM (
		    NO,
		    MEM_NO,
		    CHAL_NO,
		    CHAL_DATE,
		    ORIGINAL_FILENAME,
		    RENAMED_FILENAME,
		    MY_COUNT,
		    CHAL_STATUS,
		    CHAL_POINT,
		    CHAL_POINT_STATUS
		) VALUES (
		    SEQ_CHAL_MONTH_MEM.NEXTVAL,
		    #{ no },
		    #{ chalNo },
		    SYSDATE,
		    #{ originalFilename },
			#{ renamedFilename },
		    1,
		    DEFAULT,
		    1000,
		    DEFAULT
		)
	</insert>
	
	<!-- 참여 중인 사용자 목록 조회 -->
	<select id="findOngoingUserList" parameterType="map" resultMap="MonthMemberResultMap">
		SELECT DISTINCT
			MEMBER.MODIFY_IMG_NAME AS MEMBER_MODIFY_IMG_NAME,
			MEMBER.ID AS MEMBER_ID
		FROM MEMBER MEMBER
		JOIN CHAL_MONTH_MEM T ON (MEMBER.NO = T.MEM_NO)
		WHERE CHAL_NO = #{ chalNo } AND MEM_NO != #{ no }
	</select>
	
	<!-- 참여 중인 사용자 목록 갯수 조회 -->
	<select id="findOngoingUserCount" parameterType="_int" resultType="_int">
		SELECT COUNT (DISTINCT MEM_NO)
		FROM MEMBER MEMBER
		JOIN CHAL_MONTH_MEM T ON (MEMBER.NO = T.MEM_NO)
		WHERE CHAL_NO = #{ chalNo } AND MEM_NO != #{ no }
	</select>
	
	<!-- 이달의 챌린지 참여 횟수 조회 -->
	<select id="getMonthGuage" parameterType="arraylist" resultMap="MonthMemberResultMap">
		SELECT MY_COUNT AS M_MY_COUNT
		FROM CHAL_MONTH_MEM
		WHERE MEM_NO = #{ no } AND CHAL_NO = #{ chalNo }
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="insertReply" parameterType="Reply" useGeneratedKeys="true" keyColumn="REPLY_NO" keyProperty="replyNo">
		INSERT INTO CHAL_REPLY (
			REPLY_NO,
			MEM_NO,
			CHAL_NO,
			CONTENT,
			REPLY_DATE,
			MODIFY_DATE
		)
    	VALUES (
    		SEQ_CHAL_REPLY.NEXTVAL,
    		#{ memNo },
    		#{ chalNo },
    		#{ content },
    		DEFAULT,
    		SYSDATE
    	)
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="Reply">
		UPDATE CHAL_REPLY
		SET CONTENT = #{ content }
		WHERE REPLY_NO = #{ replyNo }
	</update>
	
	<!-- 댓글 목록 조회 -->
	<select id="findReplyByNo" parameterType="map" resultMap="replyResultMap">
		<!-- SELECT *
		FROM CHAL_REPLY
		WHERE REPLY_NO = #{ replyNo } -->
		SELECT *
		FROM CHAL_REPLY R
		JOIN CHAL_NESTED_REPLY N ON (R.REPLY_NO = N.REPLY_NO)
		WHERE R.REPLY_NO = #{ replyNo }
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="Reply">
		DELETE FROM CHAL_REPLY
		WHERE REPLY_NO = #{ replyNo }
		<!-- UPDATE CHAL_REPLY 
		SET REPLY_STATUS = #{ replyStatus } 
		WHERE REPLY_NO = #{ replyNo } -->
	</delete>
	
	<!-- 대댓글 작성 -->
	<insert id="insertNestedReply" parameterType="NestedReply" useGeneratedKeys="true" keyColumn="NESTED_REPLY_NO" keyProperty="nestedReplyNo">
		INSERT INTO CHAL_NESTED_REPLY (
			NESTED_REPLY_NO,
			REPLY_NO,
			MEM_NO,
			CHAL_NO, CONTENT,
			REPLY_DATE,
			MODIFY_DATE,
			NESTED_REPLY_STATUS
		)
    	VALUES (
    		SEQ_CHAL_NESTED_REPLY.NEXTVAL,
    		#{ replyNo },
    		#{ memNo },
    		#{ chalNo },
    		#{ content },
    		DEFAULT,
    		SYSDATE,
    		DEFAULT
    	)
	</insert>
	
	<!-- 대댓글 수정 -->
	<update id="updateNestedReply" parameterType="Reply">
		UPDATE CHAL_NESTED_REPLY
		SET CONTENT = #{ content }
		WHERE NESTED_REPLY_NO = #{ nestedReplyNo }
	</update>
	
	<!-- 대댓글 목록 조회 -->
	<select id="findNestedReplyByNo" parameterType="map" resultMap="nestedReplyResultMap">
		SELECT *
		FROM CHAL_NESTED_REPLY
		WHERE NESTED_REPLY_NO = #{ nestedReplyNo }
	</select>
	
	<!-- 대댓글 삭제 -->
	<delete id="deleteNestedReply" parameterType="NestedReply">
		DELETE FROM CHAL_NESTED_REPLY
		WHERE NESTED_REPLY_NO = #{ nestedReplyNo }
	</delete>
	
	<!-- 댓글 신고 -->
	<insert id="insertReport" parameterType="Report">
		INSERT INTO REPORT (
		    REPORT_NO, 
		    REPORT_M_NO, <!-- 신고한 회원 -->
		    REPORTED_M_NO, <!-- 신고 받은 회원 --> 
		    REPORT_DATE,
		    REPORT_TITLE,
		    REPORT_CONTENT, 
		    REPORT_STATUS, 
		    REPORT_CATEGORY
		) VALUES(
		    SEQ_RNO.NEXTVAL, 
		    #{ reportMemberNo }, <!-- 신고한 회원 --> 
		    #{ reportedMemberNo }, <!-- 신고 받은 회원 --> 
		    DEFAULT, 
		    #{ reportContent }, 
		    #{ reportTitle },
		    DEFAULT,
		    #{ reportCategory }
		)
	</insert>
	
	
	
	
	
	
	
	
	
	
	<!-- 참여 중인 챌린지 목록 조회 -->
	<select id="findOngoingListByMemNo" parameterType="map" resultMap="MonthMemberResultMap">
		SELECT
			M.MEM_NO AS T_MEM_NO,
		    C.CHAL_NO,
		    C.CHAL_TITLE AS T_CHAL_TITLE,
		    C.CHAL_CONTENT,
		    C.RENAMED_FILENAME AS M_RENAMED_FILENAME,
		    C.CHAL_POINT,
		    C.CHAL_COUNT,
		    COUNT (M.MY_COUNT) AS M_MY_COUNT,
		    M.MEM_NO
		FROM CHAL_MONTH C
		JOIN CHAL_MONTH_MEM M ON (C.CHAL_NO = M.CHAL_NO)
		WHERE M.MEM_NO = ${ no }
		GROUP BY M.MEM_NO, C.CHAL_NO, C.CHAL_TITLE, C.CHAL_CONTENT, C.RENAMED_FILENAME, C.CHAL_POINT, C.CHAL_COUNT, M.MY_COUNT, M.MEM_NO
		ORDER BY C.CHAL_NO DESC
  	</select>
	
	<!-- 참여 중인 챌린지 목록 갯수 조회 -->
	<select id="getOngoingListCount" parameterType="_int" resultType="_int">
		<!-- SELECT COUNT (*)
		FROM CHAL_MONTH_MEM
		WHERE MEM_NO = #{ no } -->
		SELECT COUNT (*)
		FROM (SELECT DISTINCT CHAL_NO FROM CHAL_MONTH_MEM WHERE MEM_NO = #{ no })
	</select>
	
	
	
	
	
	
	
	
	
	
	<!-- 메인: 챌린지 목록 조회 -->
	<select id="findMonthBestList" parameterType="arraylist" resultMap="MonthListResultMap">
		SELECT
		    CHAL_NO,
		    CHAL_TITLE,
		    CHAL_CONTENT,
		    RENAMED_FILENAME
		FROM CHAL_MONTH
		ORDER BY CHAL_NO DESC
	</select>
	
	<!-- 메인: 상품 목록 조회 -->
	<select id="findProductBestList" parameterType="arraylist" resultMap="ProductListResultMap">
		SELECT PRO_NO,
		       PRO_NAME, 
		       PRO_MODIFY_IMG,
		       PRO_INFO,
		       PRO_STAT,
		       PRO_SOLD
		FROM PRODUCT
		WHERE PRO_STAT = 3
		ORDER BY PRO_MODIFY_DATE DESC
		<!-- ORDER BY PRO_SOLD DESC -->
	</select>
  	
	
	
	
	
	
	
	<!-- 적립, 사용 소멸 내역 조회 -->
	<select id="findPointListByNo" parameterType="map" resultMap="pointListResultMap">
		SELECT *
		FROM POINT
		WHERE MEM_NO = #{ no }
		<choose>
			<when test="arrange == '적립내역'">
				AND POINT_CATEGORY = 1
			</when>
			<when test="arrange == '사용내역'">
				AND POINT_CATEGORY = 2
			</when>
			<when test="arrange == '소멸내역'">
				AND POINT_CATEGORY = 1
			</when>
		</choose>
		ORDER BY POINT_NO DESC
	</select>
	
	<!-- 적립, 사용 소멸 내역 갯수 조회 -->
	<select id="getPointCount" parameterType="_int" resultType="_int">
		SELECT COUNT (*)
		FROM POINT
		WHERE MEM_NO = #{ no }
	</select>
	
	<!-- 포인트 - 적립 목록 조회 -->
	<select id="findSavePointByNo" parameterType="arraylist" resultMap="pointListResultMap">
		SELECT *
		FROM POINT
		WHERE MEM_NO = #{ no } AND POINT_CATEGORY = 1
		ORDER BY POINT_NO DESC
	</select>
	
	<!-- 포인트 - 적립 목록 갯수 조회 -->
	<!-- <select id="findSavePointCount" parameterType="_int" resultType="_int">
		SELECT COUNT (*)
		FROM POINT
		WHERE MEM_NO = #{ no } AND POINT_CATEGORY = 1
	</select> -->
	
	<!-- 포인트 - 사용 목록 조회 -->
	<select id="findSpendPointByNo" parameterType="arraylist" resultMap="pointListResultMap">
		SELECT *
		FROM POINT
		WHERE MEM_NO = #{ no } AND POINT_CATEGORY = 2
	</select>
	
	<!-- 포인트 - 사용 목록 갯수 조회 -->
	<!-- <select id="findSpendPointCount" parameterType="_int" resultType="_int">
		SELECT COUNT (*)
		FROM POINT
		WHERE MEM_NO = #{ no } AND POINT_CATEGORY = 2
	</select> -->
	
	<!-- 포인트 - 소멸 예정 목록 조회 -->
	<select id="findDisapearPointByNo" parameterType="arraylist" resultMap="pointListResultMap">
		SELECT *
		FROM POINT
		WHERE 
		    SAVE_CONTENT IS NOT NULL 
		    AND SAVE_POINT IS NOT NULL
		    AND MEM_NO = #{ no }
		    AND 30 > (
		        SELECT DISAPEAR_DATE - TRUNC(SYSDATE)
		        FROM DUAL
		    )
		ORDER BY POINT_NO DESC
	</select>
	
	<!-- 포인트 - 소멸 예정 목록 갯수 조회 -->
	<!-- <select id="findDisapearPointCount" parameterType="_int" resultType="_int">
		SELECT COUNT (*)
		FROM POINT
		WHERE MEM_NO = #{ no } AND POINT_CATEGORY = 1
	</select> -->
	
	
	
	
</mapper>
