<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.earth.admin.model.dao.ReportMapper">
	<sql id="selectReportSql">
		SELECT REPORT_NO, 
			    REPORT_M_NO, 
			    REPORTED_M_NO, 
			    REPORT_DATE,
			    REPORT_TITLE, 
			    REPORT_CONTENT, 
			    REPORT_STATUS, 
			    REPORT_CATEGORY
	</sql>

	<resultMap type="Report" id="ReportListResultMap">
		<id property="reportNo" column="REPORT_NO"/>
		<result property="reportMemberNo" column="REPORT_M_NO"/>
		<result property="reportedMemberNo" column="REPORTED_M_NO"/>
		<result property="reportDate" column="REPORT_DATE"/>
		<result property="reportTitle" column="REPORT_TITLE"/>
		<result property="reportContent" column="REPORT_CONTENT"/>
		<result property="reportCategory" column="REPORT_CATEGORY"/>
		<result property="reportStatus" column="REPORT_STATUS"/>
	</resultMap>

	<select id="getReportCount" resultType="_int">
		SELECT COUNT(*) FROM REPORT
	</select>
	
	<select id="getReportList" resultMap="ReportListResultMap">
		<include refid="selectReportSql"/>
		FROM REPORT
		WHERE REPORT_STATUS = 'Y'
		ORDER BY REPORT_NO DESC
	</select>

	<delete id="deleteReport" parameterType="_int">
  		UPDATE REPORT
  		SET
  			REPORT_STATUS = 'N'
  		WHERE 
  			REPORT_NO = #{no}
  	</delete>




</mapper>