@charset "UTF-8";

.select-option {
    position: fixed;
    left: 450px;
    bottom: 10px;
    width: 820px;
    background: #fff;
    border: 1px solid red;
    margin: 0 auto;
}

















