@charset "UTF-8";
@import "common.css";
@import "layout.css";
@import "admin.css";      /* 조관우 */
@import "about.css";      /* 류동우 */
@import "challenge.css";  /* 박민영 */
@import "store.css";      /* 이진아 */
/* @import "mypage.css";     담당자 미정 */
@import "member.css";     /* 최어진 */


/* ----------------------------------
    visual main
---------------------------------- */
.visual {
    position: relative;
    display: flex;
    overflow: hidden;
}
.visual strong {
    position: absolute;
    top: 50px;
    left: 50%;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    transform: translateX(-50%) rotate(-15deg);
    transition: all 0.2s ease-out;
    z-index: 1;
}
.visual .visual-box {
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 700px;
    background: #fff;
    text-align: center;
}
.visual .visual-box strong {
    display: none;
    font-size: 30px;
    transform: translateX(-50%) rotate(0);
    transition: all 0.2s ease-out;
}
.visual .center-img {
    position: absolute;
    top: 50%;
    right: 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #F4EEC0;
    transform: translateY(-50%) rotate(45deg);
    margin-right: -200px;
    text-indent: -999em;
}
.visual .center-img:after {
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
}
.visual .btn-visual {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 30px;
}
.visual .btn-visual-undo {
    position: absolute;
    width: 100px;
    top: 50%;
    left: -50%;
    background-color: burlywood;
    opacity: .5;
}
.visual .best-main {
    position: absolute;
    top: 50px;
    left: -100%;
    width: 200px;
    height: 200px;
    background: lightseagreen;
}
.visual .best-main a {
    display: block;
    width: 100%;
    height: 100%;
}
.visual .best-list-main {
    position: absolute;
    top: 450px;
    left: -500px;
    display: flex;
    overflow: hidden;
    width: 1260px;
    /* margin: 450px 0 0 -500px; */
}
.visual .best-list-main li {
    width: 200px;
    height: 200px;
    background: #fff;
    border: 1px solid blueviolet;
}
.visual .best-list-main li a {
    display: block;
    width: 100%;
    height: 100%;
}
.visual .best-list-main li + li {
    margin-left: 20px;
}

/* store */
.visual .store .center-img {
    left: 0;
    right: auto;
    background: #61B292;
    margin-left: -200px;
}
.visual .store .btn-visual {
    left: auto;
    right: 30px;
}
.visual .store .btn-visual-undo {
    left: auto;
    right: -50%;
}
.visual .store .best-main {
    left: auto;
    right: -100%;
}
.visual .store .best-list-main {
    left: auto;
    right: -890px;
}


/* ----------------------------------
    page
---------------------------------- */
.page-tit {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.page-tit h3 {
    font-size: 20px;
    font-weight: 400;
}
.page-tit .bread-crumb {

}
.page-tit .bread-crumb a,
.page-tit .bread-crumb span {
    position: relative;
    color: #999;
    font-size: 12px;
}
.page-tit .bread-crumb a + a:hover {
    text-decoration: underline;
}
.page-tit .bread-crumb a + a,
.page-tit .bread-crumb a + span {
    margin-left: 5px;
    padding-left: 10px;
}
.page-tit .bread-crumb a + a:before,
.page-tit .bread-crumb a + span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 7px;
    background: url(../images/common/arrow_bread_crumb.png);
    transform: translateY(-50%);
}
.page-tit .bread-crumb a.current {
    color: #555;
    font-weight: 500;
}
.page-tit .bread-crumb a i {
    vertical-align: middle;
    margin-top: -4px;
}




.board-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.board-head .board-result {
    color: #666;
    font-size: 14px;
}
.board-head .board-result span {
    color: #333;
    font-weight: 500;
}

.category {
    border-top: 2px solid #467443;
    border-bottom: 1px solid #666;
}
.category ul li {
    display: flex;
}
.category ul li + li {
    border-top: 1px solid #ccc;
}
.category ul li strong {
    width: 100px;
    font-size: 14px;
    font-weight: 400;
    background: #f9f9f9;
    padding: 20px;
}
.category .check-group {
    width: 100%;
    padding: 20px 20px 10px;
}







/* ----------------------------------
    star
---------------------------------- */
.icon-star {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 16px;
}
.icon-star i {
    display: block;
    width: 100%;
    height: 100%;
}
.icon-star .unfill {
    background: url(../images/common/icon_star_unfill.png) 0 0 no-repeat;
}
.icon-star .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url(../images/common/icon_star_fill.png) 0 0 no-repeat;
}











/* @temp guide */
.guide {
    margin-top: 20px;
}
.guide section {
    padding: 20px 0 30px;
}
.guide section + section {
    padding-top: 80px;
    border-top: 1px solid #ddd;
}
.guide section > strong {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}